In [62]:
import pandas as pd
import numpy as np
import os

In [63]:
# White and blue output ports of the in-fibre beam splitters
DETECTORS = {
    9: {"arm": "TT", "color": "white"},
    12: {"arm": "TT", "color": "blue"},
    11: {"arm": "TR", "color": "white"},
    10: {"arm": "TR", "color": "blue"},
    1: {"arm": "RT", "color": "white"},
    4: {"arm": "RT", "color": "blue"},
    7: {"arm": "RR", "color": "white"},
    2: {"arm": "RR", "color": "blue"},
}

In [64]:
# Set to True to force a full refresh of the data
full_refresh = True

In [65]:
repo_root = os.popen('git rev-parse --show-toplevel').read().strip()

In [66]:
data_folder = os.path.join(repo_root, 'multi-parameter-estimation', 'data')

# Get list of data directories
data_dirs = os.listdir(data_folder)
data_dirs = [d for d in data_dirs if os.path.isdir(os.path.join(data_folder, d))]

# skip old-data
if 'old-data' in data_dirs:
    data_dirs.remove('old-data')

data_dirs.sort()
data_dirs

['2025-05-28--14h-06m-26s',
 '2025-05-28--14h-08m-47s',
 '2025-05-28--14h-11m-10s',
 '2025-05-28--14h-13m-33s',
 '2025-05-28--14h-15m-56s',
 '2025-05-28--14h-18m-20s',
 '2025-05-28--14h-20m-43s',
 '2025-05-28--14h-23m-06s',
 '2025-05-28--14h-25m-29s',
 '2025-05-28--14h-27m-45s']

In [67]:
new_data_dirs = data_dirs.copy()

if not full_refresh:
    for d in data_dirs:
        if os.path.exists(os.path.join(data_folder, d, "scaled_coincidences.csv")):
            new_data_dirs.remove(d)

new_data_dirs

['2025-05-28--14h-06m-26s',
 '2025-05-28--14h-08m-47s',
 '2025-05-28--14h-11m-10s',
 '2025-05-28--14h-13m-33s',
 '2025-05-28--14h-15m-56s',
 '2025-05-28--14h-18m-20s',
 '2025-05-28--14h-20m-43s',
 '2025-05-28--14h-23m-06s',
 '2025-05-28--14h-25m-29s',
 '2025-05-28--14h-27m-45s']

In [68]:
def load_coincidences(data_dir):
    coincidences = pd.read_csv(os.path.join(data_folder, data_dir, "coincidences.csv"))
    coincidences["data_dir"] = data_dir
    return coincidences

coincidences_df = pd.concat([load_coincidences(d) for d in new_data_dirs], ignore_index=True)
coincidences_df

,detector_a_name,detector_b_name,tomography_setting_a,tomography_setting_b,repetition,coincidences,timestamp,tomography_setting_t,tomography_setting_r,data_dir
0,9,12,NaN,NaN,0,1,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s
1,9,11,NaN,NaN,0,0,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s
2,9,10,NaN,NaN,0,0,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s
3,11,12,NaN,NaN,0,0,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s
4,10,12,NaN,NaN,0,0,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s
...,...,...,...,...,...,...,...,...,...,...
556635,2,12,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s
556636,2,11,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s
556637,2,10,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s
556638,2,4,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s
556639,2,7,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s

In [69]:
# drop estimation label if it exists
if "estimation_label" in coincidences_df.columns:
    coincidences_df = coincidences_df.drop(columns=["estimation_label"])
coincidences_df

,detector_a_name,detector_b_name,tomography_setting_a,tomography_setting_b,repetition,coincidences,timestamp,tomography_setting_t,tomography_setting_r,data_dir
0,9,12,NaN,NaN,0,1,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s
1,9,11,NaN,NaN,0,0,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s
2,9,10,NaN,NaN,0,0,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s
3,11,12,NaN,NaN,0,0,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s
4,10,12,NaN,NaN,0,0,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s
...,...,...,...,...,...,...,...,...,...,...
556635,2,12,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s
556636,2,11,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s
556637,2,10,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s
556638,2,4,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s
556639,2,7,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s

In [70]:
def get_effective_detector_label(arm, tomography_setting_a, tomography_setting_b):
    arm = list(arm)
    # If the arm is T and the tomography a setting is V, then flip the detector 
    if arm[0] == "T" and tomography_setting_a == "V":
        arm[1] = "T" if arm[1] == "R" else "R"
    # If the arm is R and the tomography b setting is V, then flip the detector
    if arm[0] == "R" and tomography_setting_b == "V":
        arm[1] = "T" if arm[1] == "R" else "R"
    return "".join(arm)


def get_estimation_label(arm_a, arm_b, tomography_setting_a, tomography_setting_b):
    # If the tomo is in V, then the detectors are effectively flipped in that arm
    arm_a = get_effective_detector_label(arm_a, tomography_setting_a, tomography_setting_b)
    arm_b = get_effective_detector_label(arm_b, tomography_setting_a, tomography_setting_b)
    
    # Double bunched
    if arm_a == arm_b:
        # DB_H
        if arm_a[1] == "T":
            return "DB_H"
        # DB_V
        elif arm_a[1] == "R":
            return "DB_V"
        else:
            raise ValueError(f"Unknown arm: {arm_a}")
    # Coincidence
    elif arm_a[0] != arm_b[0]:
        return "C"
    # Single bunched
    elif arm_a[1] != arm_b[1]:
        return "SB"
    else:
        raise ValueError(f"Unknown arm combination: {arm_a}, {arm_b}")

In [71]:
labels = pd.DataFrame(
        [
            (
                i,
                j,
                tomography_setting_a,
                tomography_setting_b,
                get_estimation_label(DETECTORS[i]["arm"], DETECTORS[j]["arm"], tomography_setting_a, tomography_setting_b)
            )
            for i in DETECTORS.keys()
            for j in DETECTORS.keys()
            for tomography_setting_a in ["H", "V"]
            for tomography_setting_b in ["H", "V"]
            if i < j
        ],
        columns=[
            "detector_a_name",
            "detector_b_name",
            "tomography_setting_t",
            "tomography_setting_r",
            "estimation_label"
        ],
    )

labels

,detector_a_name,detector_b_name,tomography_setting_t,tomography_setting_r,estimation_label
0,9,12,H,H,DB_H
1,9,12,H,V,DB_H
2,9,12,V,H,DB_V
3,9,12,V,V,DB_V
4,9,11,H,H,SB
...,...,...,...,...,...
107,2,4,V,V,SB
108,2,7,H,H,DB_V
109,2,7,H,V,DB_H
110,2,7,V,H,DB_V
111,2,7,V,V,DB_H

In [72]:
# join the labels with the coincidences dataframe
coincidences_df = coincidences_df.merge(labels, on=["detector_a_name", "detector_b_name", "tomography_setting_t", "tomography_setting_r"], how="left")
coincidences_df

,detector_a_name,detector_b_name,tomography_setting_a,tomography_setting_b,repetition,coincidences,timestamp,tomography_setting_t,tomography_setting_r,data_dir,estimation_label
0,9,12,NaN,NaN,0,1,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s,DB_H
1,9,11,NaN,NaN,0,0,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s,SB
2,9,10,NaN,NaN,0,0,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s,SB
3,11,12,NaN,NaN,0,0,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s,SB
4,10,12,NaN,NaN,0,0,2025-05-28--14h-06m-37s-848027,H,H,2025-05-28--14h-06m-26s,SB
...,...,...,...,...,...,...,...,...,...,...,...
556635,2,12,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s,C
556636,2,11,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s,C
556637,2,10,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s,C
556638,2,4,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s,SB
556639,2,7,NaN,NaN,499,0,2025-05-28--14h-29m-54s-942446,V,V,2025-05-28--14h-27m-45s,DB_H

In [73]:
# save the dataframes to csv files based on the data_dir
for data_dir in new_data_dirs:
    df_subset = coincidences_df[coincidences_df["data_dir"] == data_dir]
    if not df_subset.empty:
        output_file = os.path.join(data_folder, data_dir, "labelled_coincidences.csv")
        df_subset.to_csv(output_file, index=False)
        print(f"Saved {output_file}")

Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-28--14h-06m-26s/labelled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-28--14h-08m-47s/labelled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-28--14h-11m-10s/labelled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-28--14h-13m-33s/labelled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-28--14h-15m-56s/labelled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-28--14h-18m-20s/labelled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-28--14h-20m-43s/labelled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-28--14h-23m-06s/labelled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-28--14h-25m-29s/labelled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-28--14h-27m-45s/labelled_coincidences.csv