In [19]:
import pandas as pd
import numpy as np
import os

In [20]:
# Set to True to force a full refresh of the data
full_refresh = True

In [21]:
repo_root = os.popen('git rev-parse --show-toplevel').read().strip()

In [22]:
data_folder = os.path.join(repo_root, 'multi-parameter-estimation', 'data')

# Get list of data directories
data_dirs = os.listdir(data_folder)
data_dirs = [d for d in data_dirs if os.path.isdir(os.path.join(data_folder, d))]

# skip old-data
if 'old-data' in data_dirs:
    data_dirs.remove('old-data')

data_dirs.sort()
data_dirs

['2025-05-23--17h-24m-53s',
 '2025-05-23--17h-27m-00s',
 '2025-05-23--17h-28m-51s',
 '2025-05-23--17h-30m-41s',
 '2025-05-23--17h-32m-32s',
 '2025-05-23--17h-34m-23s',
 '2025-05-23--17h-36m-14s',
 '2025-05-23--17h-38m-05s',
 '2025-05-23--17h-39m-56s',
 '2025-05-23--17h-41m-47s',
 '2025-05-23--17h-43m-38s',
 '2025-05-23--17h-45m-29s',
 '2025-05-23--17h-47m-20s',
 '2025-05-23--17h-49m-11s',
 '2025-05-23--17h-51m-02s',
 '2025-05-23--17h-52m-53s',
 '2025-05-23--17h-54m-44s',
 '2025-05-23--17h-56m-35s',
 '2025-05-23--17h-58m-27s',
 '2025-05-23--18h-00m-17s',
 '2025-05-23--18h-02m-09s',
 '2025-05-23--18h-04m-00s',
 '2025-05-23--18h-05m-51s',
 '2025-05-23--18h-07m-42s',
 '2025-05-23--18h-09m-34s',
 '2025-05-23--18h-11m-25s',
 '2025-05-23--18h-13m-17s',
 '2025-05-23--18h-15m-08s',
 '2025-05-23--18h-16m-59s',
 '2025-05-23--18h-18m-47s',
 '2025-05-23--18h-20m-26s',
 '2025-05-23--18h-22m-05s',
 '2025-05-23--18h-23m-43s',
 '2025-05-23--18h-25m-22s',
 '2025-05-23--18h-27m-01s',
 '2025-05-23--18h-28m-41s',
 '2025-05-23--18h-30m-20s',
 '2025-05-23--18h-31m-59s',
 '2025-05-23--18h-33m-37s',
 '2025-05-23--18h-35m-16s',
 '2025-05-23--18h-36m-55s',
 '2025-05-23--18h-38m-34s',
 '2025-05-23--18h-40m-12s',
 '2025-05-23--18h-41m-51s',
 '2025-05-23--18h-43m-30s',
 '2025-05-23--18h-45m-09s',
 '2025-05-23--18h-46m-47s',
 '2025-05-23--18h-48m-26s',
 '2025-05-23--18h-50m-05s',
 '2025-05-23--18h-51m-43s',
 '2025-05-23--18h-53m-21s',
 '2025-05-23--18h-55m-00s',
 '2025-05-23--18h-56m-38s',
 '2025-05-23--18h-58m-17s',
 '2025-05-23--18h-59m-55s',
 '2025-05-23--19h-01m-34s',
 '2025-05-23--19h-03m-12s',
 '2025-05-23--19h-04m-50s',
 '2025-05-23--19h-06m-29s',
 '2025-05-23--19h-08m-07s']

In [23]:
new_data_dirs = data_dirs.copy()

if not full_refresh:
    for d in data_dirs:
        if os.path.exists(os.path.join(data_folder, d, "scaled_coincidences.csv")):
            new_data_dirs.remove(d)

new_data_dirs

['2025-05-23--17h-24m-53s',
 '2025-05-23--17h-27m-00s',
 '2025-05-23--17h-28m-51s',
 '2025-05-23--17h-30m-41s',
 '2025-05-23--17h-32m-32s',
 '2025-05-23--17h-34m-23s',
 '2025-05-23--17h-36m-14s',
 '2025-05-23--17h-38m-05s',
 '2025-05-23--17h-39m-56s',
 '2025-05-23--17h-41m-47s',
 '2025-05-23--17h-43m-38s',
 '2025-05-23--17h-45m-29s',
 '2025-05-23--17h-47m-20s',
 '2025-05-23--17h-49m-11s',
 '2025-05-23--17h-51m-02s',
 '2025-05-23--17h-52m-53s',
 '2025-05-23--17h-54m-44s',
 '2025-05-23--17h-56m-35s',
 '2025-05-23--17h-58m-27s',
 '2025-05-23--18h-00m-17s',
 '2025-05-23--18h-02m-09s',
 '2025-05-23--18h-04m-00s',
 '2025-05-23--18h-05m-51s',
 '2025-05-23--18h-07m-42s',
 '2025-05-23--18h-09m-34s',
 '2025-05-23--18h-11m-25s',
 '2025-05-23--18h-13m-17s',
 '2025-05-23--18h-15m-08s',
 '2025-05-23--18h-16m-59s',
 '2025-05-23--18h-18m-47s',
 '2025-05-23--18h-20m-26s',
 '2025-05-23--18h-22m-05s',
 '2025-05-23--18h-23m-43s',
 '2025-05-23--18h-25m-22s',
 '2025-05-23--18h-27m-01s',
 '2025-05-23--18h-28m-41s',
 '2025-05-23--18h-30m-20s',
 '2025-05-23--18h-31m-59s',
 '2025-05-23--18h-33m-37s',
 '2025-05-23--18h-35m-16s',
 '2025-05-23--18h-36m-55s',
 '2025-05-23--18h-38m-34s',
 '2025-05-23--18h-40m-12s',
 '2025-05-23--18h-41m-51s',
 '2025-05-23--18h-43m-30s',
 '2025-05-23--18h-45m-09s',
 '2025-05-23--18h-46m-47s',
 '2025-05-23--18h-48m-26s',
 '2025-05-23--18h-50m-05s',
 '2025-05-23--18h-51m-43s',
 '2025-05-23--18h-53m-21s',
 '2025-05-23--18h-55m-00s',
 '2025-05-23--18h-56m-38s',
 '2025-05-23--18h-58m-17s',
 '2025-05-23--18h-59m-55s',
 '2025-05-23--19h-01m-34s',
 '2025-05-23--19h-03m-12s',
 '2025-05-23--19h-04m-50s',
 '2025-05-23--19h-06m-29s',
 '2025-05-23--19h-08m-07s']

In [24]:
def load_coincidences(data_dir):
    coincidences = pd.read_csv(os.path.join(data_folder, data_dir, "coincidences.csv"))
    coincidences["data_dir"] = data_dir
    return coincidences

coincidences_df = pd.concat([load_coincidences(d) for d in new_data_dirs], ignore_index=True)
coincidences_df

,detector_a_name,detector_b_name,estimation_label,repetition,coincidences,timestamp,data_dir
0,9,12,DB_H,0,1,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s
1,9,11,SB,0,0,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s
2,9,10,SB,0,0,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s
3,11,12,SB,0,0,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s
4,10,12,SB,0,0,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s
...,...,...,...,...,...,...,...
6895611,2,12,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s
6895612,2,11,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s
6895613,2,10,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s
6895614,2,4,SB,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s
6895615,2,7,DB_V,4997,1,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s

In [ ]:
# Remove where either detector_a or detector_b is in:
# [4, 1, 2, 7] to remove tomo R
# [12, 9, 11, 10] to remove tomo T
# and estimation_label is either DB_H or DB_V 
coincidences_df = coincidences_df[~(
    (coincidences_df['detector_a_name'].isin([12, 9, 11, 10]) | coincidences_df['detector_b_name'].isin([12, 9, 11, 10])) &
    (coincidences_df['estimation_label'].isin(['DB_H', 'DB_V']))
)]
coincidences_df

,detector_a_name,detector_b_name,estimation_label,repetition,coincidences,timestamp,data_dir
0,9,12,DB_H,0,1,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s
1,9,11,SB,0,0,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s
2,9,10,SB,0,0,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s
3,11,12,SB,0,0,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s
4,10,12,SB,0,0,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s
...,...,...,...,...,...,...,...
6895610,2,9,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s
6895611,2,12,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s
6895612,2,11,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s
6895613,2,10,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s
6895614,2,4,SB,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s

Double bunched events are only resolved half of the time. Therefore, we now throw away half of all non-double-bunched events to recover the expected statistics.

In [27]:
coincidences_df["scaled_coincidences"] = coincidences_df["coincidences"].astype(float)

coincidences_df.loc[coincidences_df["estimation_label"] == "SB", "scaled_coincidences"] = coincidences_df.loc[coincidences_df["estimation_label"] == "SB", "coincidences"] * 0.25
coincidences_df.loc[coincidences_df["estimation_label"] == "C", "scaled_coincidences"] = coincidences_df.loc[coincidences_df["estimation_label"] == "C", "coincidences"] * 0.25

coincidences_df

/tmp/ipykernel_1138413/1621989395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coincidences_df["scaled_coincidences"] = coincidences_df["coincidences"].astype(float)

,detector_a_name,detector_b_name,estimation_label,repetition,coincidences,timestamp,data_dir,scaled_coincidences
0,9,12,DB_H,0,1,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s,1.0
1,9,11,SB,0,0,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s,0.0
2,9,10,SB,0,0,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s,0.0
3,11,12,SB,0,0,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s,0.0
4,10,12,SB,0,0,2025-05-23--17h-25m-11s-450715,2025-05-23--17h-24m-53s,0.0
...,...,...,...,...,...,...,...,...
6895610,2,9,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s,0.0
6895611,2,12,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s,0.0
6895612,2,11,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s,0.0
6895613,2,10,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s,0.0
6895614,2,4,SB,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s,0.0

In [28]:
# Sum up by estimation label
df_sum = (
    coincidences_df.groupby(["data_dir", "estimation_label", "repetition"])
    .agg({"scaled_coincidences": "sum"})
    .sort_values(by=["data_dir", "repetition", "estimation_label"])
    .reset_index()
)
df_sum

,data_dir,estimation_label,repetition,scaled_coincidences
0,2025-05-23--17h-24m-53s,C,0,0.0
1,2025-05-23--17h-24m-53s,DB_H,0,1.0
2,2025-05-23--17h-24m-53s,DB_V,0,0.0
3,2025-05-23--17h-24m-53s,SB,0,0.0
4,2025-05-23--17h-24m-53s,C,1,0.0
...,...,...,...,...
985083,2025-05-23--19h-08m-07s,SB,4995,0.0
985084,2025-05-23--19h-08m-07s,C,4997,0.0
985085,2025-05-23--19h-08m-07s,DB_H,4997,0.0
985086,2025-05-23--19h-08m-07s,DB_V,4997,0.0
985087,2025-05-23--19h-08m-07s,SB,4997,0.0

In [29]:
df_pivoted_sum = df_sum.pivot(index=['data_dir', 'repetition'], columns='estimation_label', values='scaled_coincidences')
df_pivoted_sum = df_pivoted_sum.reset_index()  # optional, to flatten the index
df_pivoted_sum.columns.name = None  # remove the name of the columns
df_pivoted_sum

                       data_dir  repetition    C  DB_H  DB_V   SB
0       2025-05-23--17h-24m-53s           0  0.0   1.0   0.0  0.0
1       2025-05-23--17h-24m-53s           1  0.0   0.0   0.0  0.0
2       2025-05-23--17h-24m-53s           2  0.0   1.0   0.0  0.0
3       2025-05-23--17h-24m-53s           3  0.0   0.0   0.0  0.0
4       2025-05-23--17h-24m-53s           4  0.0   1.0   0.0  0.0
...                         ...         ...  ...   ...   ...  ...
246267  2025-05-23--19h-08m-07s        4992  0.0   0.0   1.0  0.0
246268  2025-05-23--19h-08m-07s        4993  0.0   0.0   0.0  0.0
246269  2025-05-23--19h-08m-07s        4994  0.0   0.0   1.0  0.0
246270  2025-05-23--19h-08m-07s        4995  0.0   0.0   1.0  0.0
246271  2025-05-23--19h-08m-07s        4997  0.0   0.0   0.0  0.0

[246272 rows x 6 columns]

In [30]:
df_pivoted_sum["N"] = df_pivoted_sum["SB"] + df_pivoted_sum["C"] + df_pivoted_sum["DB_H"] + df_pivoted_sum["DB_V"]
df_pivoted_sum.head(10)

                  data_dir  repetition    C  DB_H  DB_V   SB    N
0  2025-05-23--17h-24m-53s           0  0.0   1.0   0.0  0.0  1.0
1  2025-05-23--17h-24m-53s           1  0.0   0.0   0.0  0.0  0.0
2  2025-05-23--17h-24m-53s           2  0.0   1.0   0.0  0.0  1.0
3  2025-05-23--17h-24m-53s           3  0.0   0.0   0.0  0.0  0.0
4  2025-05-23--17h-24m-53s           4  0.0   1.0   0.0  0.0  1.0
5  2025-05-23--17h-24m-53s           5  0.0   2.0   0.0  0.0  2.0
6  2025-05-23--17h-24m-53s           6  0.0   1.0   0.0  0.0  1.0
7  2025-05-23--17h-24m-53s           8  0.0   0.0   0.0  0.0  0.0
8  2025-05-23--17h-24m-53s           9  0.0   1.0   0.0  0.0  1.0
9  2025-05-23--17h-24m-53s          10  0.0   2.0   0.0  0.0  2.0

In [31]:
# save the dataframes to csv files based on the data_dir
for data_dir in new_data_dirs:
    df_subset = df_pivoted_sum[df_pivoted_sum["data_dir"] == data_dir]
    if not df_subset.empty:
        output_file = os.path.join(data_folder, data_dir, "scaled_coincidences.csv")
        df_subset.to_csv(output_file, index=False)
        print(f"Saved {output_file}")

Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-24m-53s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-27m-00s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-28m-51s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-30m-41s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-32m-32s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-34m-23s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-36m-14s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-38m-05s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-39m-56s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-41m-47s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-43m-38s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-45m-29s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-47m-20s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-49m-11s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-51m-02s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-52m-53s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-54m-44s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-56m-35s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--17h-58m-27s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-00m-17s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-02m-09s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-04m-00s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-05m-51s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-07m-42s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-09m-34s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-11m-25s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-13m-17s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-15m-08s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-16m-59s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-18m-47s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-20m-26s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-22m-05s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-23m-43s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-25m-22s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-27m-01s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-28m-41s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-30m-20s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-31m-59s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-33m-37s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-35m-16s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-36m-55s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-38m-34s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-40m-12s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-41m-51s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-43m-30s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-45m-09s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-46m-47s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-48m-26s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-50m-05s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-51m-43s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-53m-21s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-55m-00s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-56m-38s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-58m-17s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--18h-59m-55s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--19h-01m-34s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--19h-03m-12s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--19h-04m-50s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--19h-06m-29s/scaled_coincidences.csv
Saved /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-05-23--19h-08m-07s/scaled_coincidences.csv