In [13]:
import pandas as pd
import numpy as np
import os

In [ ]:
# Set to True to force a full refresh of the data
full_refresh = True
eta = 0.968

# Load data

In [15]:
repo_root = os.popen('git rev-parse --show-toplevel').read().strip()

In [16]:
data_folder = os.path.join(repo_root, 'multi-parameter-estimation', 'data')

# Get list of data directories
data_dirs = os.listdir(data_folder)
data_dirs = [d for d in data_dirs if os.path.isdir(os.path.join(data_folder, d))]

# skip old-data
if 'old-data' in data_dirs:
    data_dirs.remove('old-data')

data_dirs.sort()
data_dirs

['2025-07-03--15h-44m-51s',
 '2025-07-03--16h-11m-36s',
 '2025-07-03--16h-16m-56s',
 '2025-07-03--16h-22m-15s',
 '2025-07-03--16h-27m-19s',
 '2025-07-03--16h-36m-39s',
 '2025-07-03--16h-42m-17s',
 '2025-07-07--11h-59m-57s',
 '2025-07-07--12h-05m-34s',
 '2025-07-07--12h-12m-21s',
 '2025-07-07--12h-19m-57s',
 '2025-07-07--14h-31m-04s',
 '2025-07-07--14h-37m-06s',
 '2025-07-07--14h-45m-36s',
 '2025-07-07--14h-51m-58s',
 '2025-07-07--14h-57m-39s',
 '2025-07-08--10h-30m-07s',
 '2025-07-08--10h-35m-04s',
 '2025-07-08--10h-40m-12s',
 '2025-07-08--10h-45m-36s',
 '2025-07-08--10h-56m-10s',
 '2025-07-08--11h-01m-30s',
 '2025-07-08--11h-06m-45s']

In [17]:
new_data_dirs = data_dirs.copy()

if not full_refresh:
    for d in data_dirs:
        if os.path.exists(os.path.join(data_folder, d, "estimators.csv")):
            new_data_dirs.remove(d)

new_data_dirs

['2025-07-03--15h-44m-51s',
 '2025-07-03--16h-11m-36s',
 '2025-07-03--16h-16m-56s',
 '2025-07-03--16h-22m-15s',
 '2025-07-03--16h-27m-19s',
 '2025-07-03--16h-36m-39s',
 '2025-07-03--16h-42m-17s',
 '2025-07-07--11h-59m-57s',
 '2025-07-07--12h-05m-34s',
 '2025-07-07--12h-12m-21s',
 '2025-07-07--12h-19m-57s',
 '2025-07-07--14h-31m-04s',
 '2025-07-07--14h-37m-06s',
 '2025-07-07--14h-45m-36s',
 '2025-07-07--14h-51m-58s',
 '2025-07-07--14h-57m-39s',
 '2025-07-08--10h-30m-07s',
 '2025-07-08--10h-35m-04s',
 '2025-07-08--10h-40m-12s',
 '2025-07-08--10h-45m-36s',
 '2025-07-08--10h-56m-10s',
 '2025-07-08--11h-01m-30s',
 '2025-07-08--11h-06m-45s']

In [18]:
def load_chunks(data_dir, n):
    if not os.path.exists(os.path.join(data_folder, data_dir, f"corrected_chunked_coincidences_n={n}.csv")):
        print(f"Skipping {data_dir} n={n} as file does not exist.")
        return pd.DataFrame()
    coincidences = pd.read_csv(os.path.join(data_folder, data_dir, f"corrected_chunked_coincidences_n={n}.csv"))
    coincidences["data_dir"] = data_dir
    return coincidences

chunks_df = pd.concat([pd.concat([load_chunks(d, n) for d in new_data_dirs]) for n in [40,80,120,160,200]], ignore_index=True)
chunks_df

                      data_dir    C'     HH    SB   VV      N
0      2025-07-03--15h-44m-51s   1.0   39.0   0.0  0.0   40.0
1      2025-07-03--15h-44m-51s   0.0   40.0   0.0  0.0   40.0
2      2025-07-03--15h-44m-51s   0.0   40.0   0.0  0.0   40.0
3      2025-07-03--15h-44m-51s   0.0   40.0   0.0  0.0   40.0
4      2025-07-03--15h-44m-51s   0.0   40.0   0.0  0.0   40.0
...                        ...   ...    ...   ...  ...    ...
96413  2025-07-08--11h-06m-45s  35.0  148.0  13.0  4.0  200.0
96414  2025-07-08--11h-06m-45s  38.0  151.0   9.0  2.0  200.0
96415  2025-07-08--11h-06m-45s  39.0  145.0  11.0  5.0  200.0
96416  2025-07-08--11h-06m-45s  40.0  144.0  10.0  6.0  200.0
96417  2025-07-08--11h-06m-45s  36.0  151.0   8.0  5.0  200.0

[96418 rows x 6 columns]

# All samples

In [19]:
all_samples = chunks_df[chunks_df["N"] == 40].groupby("data_dir").sum().reset_index()

# append the new data to the existing data
chunks_df = pd.concat([chunks_df, all_samples], ignore_index=True)
chunks_df

                      data_dir       C'       HH       SB       VV        N
0      2025-07-03--15h-44m-51s      1.0     39.0      0.0      0.0     40.0
1      2025-07-03--15h-44m-51s      0.0     40.0      0.0      0.0     40.0
2      2025-07-03--15h-44m-51s      0.0     40.0      0.0      0.0     40.0
3      2025-07-03--15h-44m-51s      0.0     40.0      0.0      0.0     40.0
4      2025-07-03--15h-44m-51s      0.0     40.0      0.0      0.0     40.0
...                        ...      ...      ...      ...      ...      ...
96436  2025-07-08--10h-40m-12s  19145.0  20331.0  19211.0  19873.0  78560.0
96437  2025-07-08--10h-45m-36s  17813.0   1741.0    679.0  54927.0  75160.0
96438  2025-07-08--10h-56m-10s   8821.0   1812.0  10929.0  57118.0  78680.0
96439  2025-07-08--11h-01m-30s  29270.0  20714.0   7364.0  18652.0  76000.0
96440  2025-07-08--11h-06m-45s  14159.0  59776.0   3583.0   1642.0  79160.0

[96441 rows x 6 columns]

# Estimate

In [20]:
chunks_df["theta_estimate"] = np.arccos(
    (chunks_df["HH"] - chunks_df["VV"]) / chunks_df["N"]
)

chunks_df

,data_dir,C',HH,SB,VV,N,theta_estimate
0,2025-07-03--15h-44m-51s,1.0,39.0,0.0,0.0,40.0,0.224075
1,2025-07-03--15h-44m-51s,0.0,40.0,0.0,0.0,40.0,0.000000
2,2025-07-03--15h-44m-51s,0.0,40.0,0.0,0.0,40.0,0.000000
3,2025-07-03--15h-44m-51s,0.0,40.0,0.0,0.0,40.0,0.000000
4,2025-07-03--15h-44m-51s,0.0,40.0,0.0,0.0,40.0,0.000000
...,...,...,...,...,...,...,...
96436,2025-07-08--10h-40m-12s,19145.0,20331.0,19211.0,19873.0,78560.0,1.564966
96437,2025-07-08--10h-45m-36s,17813.0,1741.0,679.0,54927.0,75160.0,2.356945
96438,2025-07-08--10h-56m-10s,8821.0,1812.0,10929.0,57118.0,78680.0,2.350295
96439,2025-07-08--11h-01m-30s,29270.0,20714.0,7364.0,18652.0,76000.0,1.543661
96440,2025-07-08--11h-06m-45s,14159.0,59776.0,3583.0,1642.0,79160.0,0.746035

In [21]:
chunks_df["delta_phi_estimate"] = (
    1 / 2
    * np.arccos(
        1
        / eta
        * (chunks_df["SB"] - chunks_df["C'"])
        / (chunks_df["SB"] + chunks_df["C'"])
    )
)

chunks_df

/home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/.venv/lib/python3.13/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in arccos
  result = getattr(ufunc, method)(*inputs, **kwargs)

,data_dir,C',HH,SB,VV,N,theta_estimate,delta_phi_estimate
0,2025-07-03--15h-44m-51s,1.0,39.0,0.0,0.0,40.0,0.224075,NaN
1,2025-07-03--15h-44m-51s,0.0,40.0,0.0,0.0,40.0,0.000000,NaN
2,2025-07-03--15h-44m-51s,0.0,40.0,0.0,0.0,40.0,0.000000,NaN
3,2025-07-03--15h-44m-51s,0.0,40.0,0.0,0.0,40.0,0.000000,NaN
4,2025-07-03--15h-44m-51s,0.0,40.0,0.0,0.0,40.0,0.000000,NaN
...,...,...,...,...,...,...,...,...
96436,2025-07-08--10h-40m-12s,19145.0,20331.0,19211.0,19873.0,78560.0,1.564966,0.784509
96437,2025-07-08--10h-45m-36s,17813.0,1741.0,679.0,54927.0,75160.0,2.356945,1.423970
96438,2025-07-08--10h-56m-10s,8821.0,1812.0,10929.0,57118.0,78680.0,2.350295,0.730155
96439,2025-07-08--11h-01m-30s,29270.0,20714.0,7364.0,18652.0,76000.0,1.543661,1.118329
96440,2025-07-08--11h-06m-45s,14159.0,59776.0,3583.0,1642.0,79160.0,0.746035,1.117102

In [22]:
chunks_df["clipped_delta_phi_estimate"] = (
    1 / 2
    * np.arccos(
        np.clip(
        1
        / eta
        * (chunks_df["SB"] - chunks_df["C'"])
        / (chunks_df["SB"] + chunks_df["C'"]), -1, 1)
    )
)

chunks_df

,data_dir,C',HH,SB,VV,N,theta_estimate,delta_phi_estimate,clipped_delta_phi_estimate
0,2025-07-03--15h-44m-51s,1.0,39.0,0.0,0.0,40.0,0.224075,NaN,1.570796
1,2025-07-03--15h-44m-51s,0.0,40.0,0.0,0.0,40.0,0.000000,NaN,NaN
2,2025-07-03--15h-44m-51s,0.0,40.0,0.0,0.0,40.0,0.000000,NaN,NaN
3,2025-07-03--15h-44m-51s,0.0,40.0,0.0,0.0,40.0,0.000000,NaN,NaN
4,2025-07-03--15h-44m-51s,0.0,40.0,0.0,0.0,40.0,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...
96436,2025-07-08--10h-40m-12s,19145.0,20331.0,19211.0,19873.0,78560.0,1.564966,0.784509,0.784509
96437,2025-07-08--10h-45m-36s,17813.0,1741.0,679.0,54927.0,75160.0,2.356945,1.423970,1.423970
96438,2025-07-08--10h-56m-10s,8821.0,1812.0,10929.0,57118.0,78680.0,2.350295,0.730155,0.730155
96439,2025-07-08--11h-01m-30s,29270.0,20714.0,7364.0,18652.0,76000.0,1.543661,1.118329,1.118329
96440,2025-07-08--11h-06m-45s,14159.0,59776.0,3583.0,1642.0,79160.0,0.746035,1.117102,1.117102

In [23]:
chunks_df[chunks_df["data_dir"] == "2025-06-03--20h-15m-22s"].count()

data_dir                      0
C'                            0
HH                            0
SB                            0
VV                            0
N                             0
theta_estimate                0
delta_phi_estimate            0
clipped_delta_phi_estimate    0
dtype: int64

# Save

In [24]:
from concurrent.futures import ThreadPoolExecutor
import os

# Group chunks_df by data_dir for efficient access
grouped_chunks = dict(tuple(chunks_df.groupby("data_dir")))

def save_estimators(data_dir):
    if data_dir in grouped_chunks:
        df_subset = grouped_chunks[data_dir]
        output_file = os.path.join(data_folder, data_dir, "corrected_estimators.csv")
        df_subset.to_csv(output_file, index=False)
        print(f"Saved estimators for {data_dir} to {output_file}")
    else:
        print(f"No data to save for {data_dir}")

# Use threading to speed up saving
with ThreadPoolExecutor(max_workers=8) as executor:
    executor.map(save_estimators, new_data_dirs)

Saved estimators for 2025-07-03--16h-27m-19s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-03--16h-27m-19s/corrected_estimators.csv
Saved estimators for 2025-07-03--15h-44m-51s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-03--15h-44m-51s/corrected_estimators.csv
Saved estimators for 2025-07-03--16h-11m-36s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-03--16h-11m-36s/corrected_estimators.csv
Saved estimators for 2025-07-03--16h-42m-17s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-03--16h-42m-17s/corrected_estimators.csv
Saved estimators for 2025-07-03--16h-16m-56s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-03--16h-16m-56s/corrected_estimators.csv
Saved estimators for 2025-07-03--16h-22m-15s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-03--16h-22m-15s/corrected_estimators.csv
Saved estimators for 2025-07-03--16h-36m-39s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-03--16h-36m-39s/corrected_estimators.csv
Saved estimators for 2025-07-07--11h-59m-57s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-07--11h-59m-57s/corrected_estimators.csv
Saved estimators for 2025-07-07--12h-05m-34s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-07--12h-05m-34s/corrected_estimators.csv
Saved estimators for 2025-07-07--12h-12m-21s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-07--12h-12m-21s/corrected_estimators.csv
Saved estimators for 2025-07-07--14h-45m-36s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-07--14h-45m-36s/corrected_estimators.csv
Saved estimators for 2025-07-07--12h-19m-57s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-07--12h-19m-57s/corrected_estimators.csv
Saved estimators for 2025-07-07--14h-37m-06s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-07--14h-37m-06s/corrected_estimators.csv
Saved estimators for 2025-07-07--14h-31m-04s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-07--14h-31m-04s/corrected_estimators.csv
Saved estimators for 2025-07-07--14h-51m-58s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-07--14h-51m-58s/corrected_estimators.csv
Saved estimators for 2025-07-07--14h-57m-39s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-07--14h-57m-39s/corrected_estimators.csv
Saved estimators for 2025-07-08--10h-30m-07s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-08--10h-30m-07s/corrected_estimators.csv
Saved estimators for 2025-07-08--10h-40m-12s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-08--10h-40m-12s/corrected_estimators.csv
Saved estimators for 2025-07-08--10h-35m-04s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-08--10h-35m-04s/corrected_estimators.csv
Saved estimators for 2025-07-08--10h-45m-36s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-08--10h-45m-36s/corrected_estimators.csv
Saved estimators for 2025-07-08--11h-01m-30s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-08--11h-01m-30s/corrected_estimators.csv
Saved estimators for 2025-07-08--10h-56m-10s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-08--10h-56m-10s/corrected_estimators.csv
Saved estimators for 2025-07-08--11h-06m-45s to /home/jh115/Heriot-Watt University Team Dropbox/RES_EPS_EMQL/projects/multi-parameter-estimation/multi-parameter-estimation/data/2025-07-08--11h-06m-45s/corrected_estimators.csv