In [68]:
import pandas as pd
import numpy as np
import os

In [69]:
data_folder = "../data"
full_refresh = True

# Get list of data directories
data_dirs = os.listdir(data_folder)
data_dirs = [d for d in data_dirs if os.path.isdir(os.path.join(data_folder, d))]
data_dirs.sort()
data_dirs

['2025-05-23--12h-20m-47s',
 '2025-05-23--12h-20m-57s',
 '2025-05-23--12h-21m-01s',
 '2025-05-23--12h-21m-05s',
 '2025-05-23--12h-21m-09s',
 '2025-05-23--12h-21m-13s',
 '2025-05-23--12h-21m-17s',
 '2025-05-23--12h-21m-20s',
 '2025-05-23--12h-21m-24s',
 '2025-05-23--12h-21m-28s',
 '2025-05-23--12h-21m-32s',
 '2025-05-23--12h-21m-36s',
 '2025-05-23--12h-21m-40s',
 '2025-05-23--12h-21m-44s',
 '2025-05-23--12h-21m-48s',
 '2025-05-23--12h-21m-52s',
 '2025-05-23--12h-21m-56s',
 '2025-05-23--12h-22m-00s',
 '2025-05-23--12h-22m-04s',
 '2025-05-23--12h-22m-08s',
 '2025-05-23--12h-22m-12s',
 '2025-05-23--12h-22m-16s',
 '2025-05-23--12h-22m-20s',
 '2025-05-23--12h-22m-24s',
 '2025-05-23--12h-22m-28s',
 '2025-05-23--12h-22m-32s',
 '2025-05-23--12h-22m-36s',
 '2025-05-23--12h-22m-40s',
 '2025-05-23--12h-22m-45s',
 '2025-05-23--12h-22m-49s',
 '2025-05-23--12h-22m-53s',
 '2025-05-23--12h-22m-57s',
 '2025-05-23--12h-23m-01s',
 '2025-05-23--12h-23m-05s',
 '2025-05-23--12h-23m-09s',
 '2025-05-23--12h-23m-13s',
 '2025-05-23--12h-23m-17s',
 '2025-05-23--12h-23m-21s',
 '2025-05-23--12h-23m-25s',
 '2025-05-23--12h-23m-29s',
 '2025-05-23--12h-23m-33s',
 '2025-05-23--12h-23m-37s',
 '2025-05-23--12h-23m-41s',
 '2025-05-23--12h-23m-45s',
 '2025-05-23--12h-23m-49s',
 '2025-05-23--12h-23m-53s',
 '2025-05-23--12h-23m-57s',
 '2025-05-23--12h-24m-01s',
 '2025-05-23--12h-24m-05s',
 '2025-05-23--12h-24m-09s',
 '2025-05-23--12h-24m-13s',
 '2025-05-23--12h-24m-17s',
 '2025-05-23--12h-24m-21s',
 '2025-05-23--12h-24m-25s',
 '2025-05-23--12h-24m-29s',
 '2025-05-23--12h-24m-33s',
 '2025-05-23--12h-24m-37s',
 '2025-05-23--12h-24m-41s',
 '2025-05-23--12h-24m-45s',
 '2025-05-23--12h-24m-49s',
 '2025-05-23--13h-22m-23s',
 '2025-05-23--13h-22m-43s',
 '2025-05-23--13h-22m-47s',
 '2025-05-23--13h-22m-51s',
 '2025-05-23--13h-22m-55s',
 '2025-05-23--13h-22m-59s',
 '2025-05-23--13h-23m-03s',
 '2025-05-23--13h-23m-07s',
 '2025-05-23--13h-23m-11s',
 '2025-05-23--13h-23m-15s',
 '2025-05-23--13h-23m-19s',
 '2025-05-23--13h-23m-23s',
 '2025-05-23--13h-23m-27s',
 '2025-05-23--13h-23m-31s',
 '2025-05-23--13h-23m-35s',
 '2025-05-23--13h-23m-39s',
 '2025-05-23--13h-23m-42s',
 '2025-05-23--13h-23m-46s',
 '2025-05-23--13h-23m-50s',
 '2025-05-23--13h-23m-54s',
 '2025-05-23--13h-23m-58s',
 '2025-05-23--13h-24m-02s',
 '2025-05-23--13h-24m-06s',
 '2025-05-23--13h-24m-10s',
 '2025-05-23--13h-24m-14s',
 '2025-05-23--13h-24m-19s',
 '2025-05-23--13h-24m-23s',
 '2025-05-23--13h-24m-27s',
 '2025-05-23--13h-24m-32s',
 '2025-05-23--13h-24m-36s',
 '2025-05-23--13h-24m-41s',
 '2025-05-23--13h-24m-46s',
 '2025-05-23--13h-24m-51s',
 '2025-05-23--13h-24m-56s',
 '2025-05-23--13h-25m-00s',
 '2025-05-23--13h-25m-05s',
 '2025-05-23--13h-25m-09s',
 '2025-05-23--13h-25m-13s',
 '2025-05-23--13h-25m-17s',
 '2025-05-23--13h-25m-21s',
 '2025-05-23--13h-25m-25s',
 '2025-05-23--13h-25m-29s',
 '2025-05-23--13h-25m-33s',
 '2025-05-23--13h-25m-37s',
 '2025-05-23--13h-25m-41s',
 '2025-05-23--13h-25m-45s',
 '2025-05-23--13h-25m-49s',
 '2025-05-23--13h-25m-53s',
 '2025-05-23--13h-25m-57s',
 '2025-05-23--13h-26m-01s',
 '2025-05-23--13h-26m-05s',
 '2025-05-23--13h-26m-09s',
 '2025-05-23--13h-26m-13s',
 '2025-05-23--13h-26m-17s',
 '2025-05-23--13h-26m-21s',
 '2025-05-23--13h-26m-25s',
 '2025-05-23--13h-26m-29s',
 '2025-05-23--13h-26m-33s',
 '2025-05-23--13h-26m-37s',
 '2025-05-23--13h-26m-41s',
 '2025-05-23--14h-51m-44s',
 '2025-05-23--14h-52m-04s',
 '2025-05-23--14h-52m-08s',
 '2025-05-23--14h-52m-12s',
 '2025-05-23--14h-52m-16s',
 '2025-05-23--14h-52m-20s',
 '2025-05-23--14h-52m-24s',
 '2025-05-23--14h-52m-28s',
 '2025-05-23--14h-52m-32s',
 '2025-05-23--14h-52m-36s',
 '2025-05-23--14h-52m-40s',
 '2025-05-23--14h-52m-44s',
 '2025-05-23--14h-52m-48s',
 '2025-05-23--14h-52m-52s',
 '2025-05-23--14h-52m-56s',
 '2025-05-23--14h-53m-00s',
 '2025-05-23--14h-53m-03s',
 '2025-05-23--14h-53m-07s',
 '2025-05-23--14h-53m-11s',
 '2025-05-23--14h-53m-15s',
 '2025-05-23--14h-53m-19s',
 '2025-05-23--14h-53m-23s',
 '2025-05-23--14h-53m-27s',
 '2025-05-23--14h-53m-32s',
 '2025-05-23--14h-53m-36s',
 '2025-05-23--14h-53m-40s',
 '2025-05-23--14h-53m-44s',
 '2025-05-23--14h-53m-48s',
 '2025-05-23--14h-53m-52s',
 '2025-05-23--14h-53m-56s',
 '2025-05-23--14h-54m-00s',
 '2025-05-23--14h-54m-04s',
 '2025-05-23--14h-54m-09s',
 '2025-05-23--14h-54m-13s',
 '2025-05-23--14h-54m-17s',
 '2025-05-23--14h-54m-21s',
 '2025-05-23--14h-54m-25s',
 '2025-05-23--14h-54m-29s',
 '2025-05-23--14h-54m-33s',
 '2025-05-23--14h-54m-37s',
 '2025-05-23--14h-54m-41s',
 '2025-05-23--14h-54m-45s',
 '2025-05-23--14h-54m-49s',
 '2025-05-23--14h-54m-53s',
 '2025-05-23--14h-54m-57s',
 '2025-05-23--14h-55m-01s',
 '2025-05-23--14h-55m-05s',
 '2025-05-23--14h-55m-09s',
 '2025-05-23--14h-55m-13s',
 '2025-05-23--14h-55m-17s',
 '2025-05-23--14h-55m-21s',
 '2025-05-23--14h-55m-25s',
 '2025-05-23--14h-55m-29s',
 '2025-05-23--14h-55m-33s',
 '2025-05-23--14h-55m-37s',
 '2025-05-23--14h-55m-41s',
 '2025-05-23--14h-55m-45s',
 '2025-05-23--14h-55m-49s',
 '2025-05-23--14h-55m-53s',
 '2025-05-23--14h-55m-57s',
 '2025-05-23--14h-58m-55s',
 '2025-05-23--14h-59m-11s',
 '2025-05-23--14h-59m-15s',
 '2025-05-23--14h-59m-18s',
 '2025-05-23--14h-59m-22s',
 '2025-05-23--14h-59m-26s',
 '2025-05-23--14h-59m-30s',
 '2025-05-23--14h-59m-33s',
 '2025-05-23--14h-59m-37s',
 '2025-05-23--14h-59m-41s',
 '2025-05-23--14h-59m-45s',
 '2025-05-23--14h-59m-48s',
 '2025-05-23--14h-59m-52s',
 '2025-05-23--14h-59m-56s',
 '2025-05-23--15h-00m-00s',
 '2025-05-23--15h-00m-03s',
 '2025-05-23--15h-00m-07s',
 '2025-05-23--15h-00m-11s',
 '2025-05-23--15h-00m-15s',
 '2025-05-23--15h-00m-18s',
 '2025-05-23--15h-00m-22s',
 '2025-05-23--15h-00m-26s',
 '2025-05-23--15h-00m-30s',
 '2025-05-23--15h-00m-33s',
 '2025-05-23--15h-00m-37s',
 '2025-05-23--15h-00m-41s',
 '2025-05-23--15h-00m-45s',
 '2025-05-23--15h-00m-48s',
 '2025-05-23--15h-00m-52s',
 '2025-05-23--15h-00m-56s',
 '2025-05-23--15h-01m-00s',
 '2025-05-23--15h-01m-04s',
 '2025-05-23--15h-01m-07s',
 '2025-05-23--15h-01m-11s',
 '2025-05-23--15h-01m-15s',
 '2025-05-23--15h-01m-19s',
 '2025-05-23--15h-01m-22s',
 '2025-05-23--15h-01m-26s',
 '2025-05-23--15h-01m-30s',
 '2025-05-23--15h-01m-34s',
 '2025-05-23--15h-01m-38s',
 '2025-05-23--15h-01m-41s',
 '2025-05-23--15h-01m-45s',
 '2025-05-23--15h-01m-49s',
 '2025-05-23--15h-01m-53s',
 '2025-05-23--15h-01m-56s',
 '2025-05-23--15h-02m-00s',
 '2025-05-23--15h-02m-04s',
 '2025-05-23--15h-02m-08s',
 '2025-05-23--15h-02m-11s',
 '2025-05-23--15h-02m-15s',
 '2025-05-23--15h-02m-19s',
 '2025-05-23--15h-02m-23s',
 '2025-05-23--15h-02m-26s',
 '2025-05-23--15h-02m-30s',
 '2025-05-23--15h-02m-34s',
 '2025-05-23--15h-02m-38s',
 '2025-05-23--15h-02m-41s',
 '2025-05-23--15h-02m-45s',
 '2025-05-23--15h-02m-49s',
 '2025-05-23--15h-13m-06s',
 '2025-05-23--15h-13m-15s',
 '2025-05-23--15h-13m-19s',
 '2025-05-23--15h-13m-23s',
 '2025-05-23--15h-13m-27s',
 '2025-05-23--15h-13m-30s',
 '2025-05-23--15h-13m-34s',
 '2025-05-23--15h-13m-38s',
 '2025-05-23--15h-13m-42s',
 '2025-05-23--15h-13m-46s',
 '2025-05-23--15h-13m-49s',
 '2025-05-23--15h-13m-53s',
 '2025-05-23--15h-13m-57s',
 '2025-05-23--15h-14m-01s',
 '2025-05-23--15h-14m-05s',
 '2025-05-23--15h-14m-08s',
 '2025-05-23--15h-14m-12s',
 '2025-05-23--15h-14m-16s',
 '2025-05-23--15h-14m-20s',
 '2025-05-23--15h-14m-24s',
 '2025-05-23--15h-14m-27s',
 '2025-05-23--15h-14m-31s',
 '2025-05-23--15h-14m-35s',
 '2025-05-23--15h-14m-39s',
 '2025-05-23--15h-14m-42s',
 '2025-05-23--15h-14m-46s',
 '2025-05-23--15h-14m-50s',
 '2025-05-23--15h-14m-54s',
 '2025-05-23--15h-14m-58s',
 '2025-05-23--15h-15m-01s',
 '2025-05-23--15h-15m-05s',
 '2025-05-23--15h-15m-09s',
 '2025-05-23--15h-15m-13s',
 '2025-05-23--15h-15m-16s',
 '2025-05-23--15h-15m-20s',
 '2025-05-23--15h-15m-24s',
 '2025-05-23--15h-15m-28s',
 '2025-05-23--15h-15m-32s',
 '2025-05-23--15h-15m-35s',
 '2025-05-23--15h-15m-39s',
 '2025-05-23--15h-15m-43s',
 '2025-05-23--15h-15m-47s',
 '2025-05-23--15h-15m-50s',
 '2025-05-23--15h-15m-54s',
 '2025-05-23--15h-15m-58s',
 '2025-05-23--15h-16m-02s',
 '2025-05-23--15h-16m-06s',
 '2025-05-23--15h-16m-09s',
 '2025-05-23--15h-16m-13s',
 '2025-05-23--15h-16m-17s',
 '2025-05-23--15h-16m-21s',
 '2025-05-23--15h-16m-24s',
 '2025-05-23--15h-16m-28s',
 '2025-05-23--15h-16m-32s',
 '2025-05-23--15h-16m-36s',
 '2025-05-23--15h-16m-40s',
 '2025-05-23--15h-16m-43s',
 '2025-05-23--15h-16m-47s',
 '2025-05-23--15h-16m-51s',
 '2025-05-23--15h-16m-55s',
 '2025-05-23--15h-19m-43s',
 '2025-05-23--15h-20m-03s',
 '2025-05-23--15h-20m-06s',
 '2025-05-23--15h-20m-10s',
 '2025-05-23--15h-20m-14s',
 '2025-05-23--15h-20m-18s',
 '2025-05-23--15h-20m-21s',
 '2025-05-23--15h-20m-25s',
 '2025-05-23--15h-20m-29s',
 '2025-05-23--15h-20m-33s',
 '2025-05-23--15h-20m-36s',
 '2025-05-23--15h-20m-40s',
 '2025-05-23--15h-20m-44s',
 '2025-05-23--15h-20m-48s',
 '2025-05-23--15h-20m-51s',
 '2025-05-23--15h-20m-55s',
 '2025-05-23--15h-20m-59s',
 '2025-05-23--15h-21m-03s',
 '2025-05-23--15h-21m-07s',
 '2025-05-23--15h-21m-10s',
 '2025-05-23--15h-21m-14s',
 '2025-05-23--15h-21m-18s',
 '2025-05-23--15h-21m-22s',
 '2025-05-23--15h-21m-26s',
 '2025-05-23--15h-21m-29s',
 '2025-05-23--15h-21m-33s',
 '2025-05-23--15h-21m-37s',
 '2025-05-23--15h-21m-56s',
 '2025-05-23--15h-22m-00s',
 '2025-05-23--15h-22m-04s',
 '2025-05-23--15h-22m-08s',
 '2025-05-23--15h-22m-12s',
 '2025-05-23--15h-22m-15s',
 '2025-05-23--15h-22m-19s',
 '2025-05-23--15h-22m-23s',
 '2025-05-23--15h-22m-27s',
 '2025-05-23--15h-22m-30s',
 '2025-05-23--15h-22m-34s',
 '2025-05-23--15h-22m-38s',
 '2025-05-23--15h-22m-42s',
 '2025-05-23--15h-22m-46s',
 '2025-05-23--15h-22m-49s',
 '2025-05-23--15h-22m-53s',
 '2025-05-23--15h-22m-57s',
 '2025-05-23--15h-23m-01s',
 '2025-05-23--15h-23m-05s',
 '2025-05-23--15h-23m-08s',
 '2025-05-23--15h-23m-12s',
 '2025-05-23--15h-23m-16s',
 '2025-05-23--15h-23m-20s',
 '2025-05-23--15h-23m-23s',
 '2025-05-23--15h-23m-27s',
 '2025-05-23--15h-23m-31s',
 '2025-05-23--15h-23m-35s',
 '2025-05-23--15h-23m-39s',
 '2025-05-23--15h-23m-42s',
 '2025-05-23--15h-23m-46s',
 '2025-05-23--15h-23m-50s',
 '2025-05-23--15h-23m-54s',
 '2025-05-23--15h-23m-58s']

In [70]:
new_data_dirs = data_dirs.copy()
# Remove directories that already have theta_delta_phi_estimates.csv
if not full_refresh:
    for d in data_dirs:
        if os.path.exists(os.path.join(data_folder, d, "theta_delta_phi_estimates.csv")):
            new_data_dirs.remove(d)

new_data_dirs

['2025-05-23--12h-20m-47s',
 '2025-05-23--12h-20m-57s',
 '2025-05-23--12h-21m-01s',
 '2025-05-23--12h-21m-05s',
 '2025-05-23--12h-21m-09s',
 '2025-05-23--12h-21m-13s',
 '2025-05-23--12h-21m-17s',
 '2025-05-23--12h-21m-20s',
 '2025-05-23--12h-21m-24s',
 '2025-05-23--12h-21m-28s',
 '2025-05-23--12h-21m-32s',
 '2025-05-23--12h-21m-36s',
 '2025-05-23--12h-21m-40s',
 '2025-05-23--12h-21m-44s',
 '2025-05-23--12h-21m-48s',
 '2025-05-23--12h-21m-52s',
 '2025-05-23--12h-21m-56s',
 '2025-05-23--12h-22m-00s',
 '2025-05-23--12h-22m-04s',
 '2025-05-23--12h-22m-08s',
 '2025-05-23--12h-22m-12s',
 '2025-05-23--12h-22m-16s',
 '2025-05-23--12h-22m-20s',
 '2025-05-23--12h-22m-24s',
 '2025-05-23--12h-22m-28s',
 '2025-05-23--12h-22m-32s',
 '2025-05-23--12h-22m-36s',
 '2025-05-23--12h-22m-40s',
 '2025-05-23--12h-22m-45s',
 '2025-05-23--12h-22m-49s',
 '2025-05-23--12h-22m-53s',
 '2025-05-23--12h-22m-57s',
 '2025-05-23--12h-23m-01s',
 '2025-05-23--12h-23m-05s',
 '2025-05-23--12h-23m-09s',
 '2025-05-23--12h-23m-13s',
 '2025-05-23--12h-23m-17s',
 '2025-05-23--12h-23m-21s',
 '2025-05-23--12h-23m-25s',
 '2025-05-23--12h-23m-29s',
 '2025-05-23--12h-23m-33s',
 '2025-05-23--12h-23m-37s',
 '2025-05-23--12h-23m-41s',
 '2025-05-23--12h-23m-45s',
 '2025-05-23--12h-23m-49s',
 '2025-05-23--12h-23m-53s',
 '2025-05-23--12h-23m-57s',
 '2025-05-23--12h-24m-01s',
 '2025-05-23--12h-24m-05s',
 '2025-05-23--12h-24m-09s',
 '2025-05-23--12h-24m-13s',
 '2025-05-23--12h-24m-17s',
 '2025-05-23--12h-24m-21s',
 '2025-05-23--12h-24m-25s',
 '2025-05-23--12h-24m-29s',
 '2025-05-23--12h-24m-33s',
 '2025-05-23--12h-24m-37s',
 '2025-05-23--12h-24m-41s',
 '2025-05-23--12h-24m-45s',
 '2025-05-23--12h-24m-49s',
 '2025-05-23--13h-22m-23s',
 '2025-05-23--13h-22m-43s',
 '2025-05-23--13h-22m-47s',
 '2025-05-23--13h-22m-51s',
 '2025-05-23--13h-22m-55s',
 '2025-05-23--13h-22m-59s',
 '2025-05-23--13h-23m-03s',
 '2025-05-23--13h-23m-07s',
 '2025-05-23--13h-23m-11s',
 '2025-05-23--13h-23m-15s',
 '2025-05-23--13h-23m-19s',
 '2025-05-23--13h-23m-23s',
 '2025-05-23--13h-23m-27s',
 '2025-05-23--13h-23m-31s',
 '2025-05-23--13h-23m-35s',
 '2025-05-23--13h-23m-39s',
 '2025-05-23--13h-23m-42s',
 '2025-05-23--13h-23m-46s',
 '2025-05-23--13h-23m-50s',
 '2025-05-23--13h-23m-54s',
 '2025-05-23--13h-23m-58s',
 '2025-05-23--13h-24m-02s',
 '2025-05-23--13h-24m-06s',
 '2025-05-23--13h-24m-10s',
 '2025-05-23--13h-24m-14s',
 '2025-05-23--13h-24m-19s',
 '2025-05-23--13h-24m-23s',
 '2025-05-23--13h-24m-27s',
 '2025-05-23--13h-24m-32s',
 '2025-05-23--13h-24m-36s',
 '2025-05-23--13h-24m-41s',
 '2025-05-23--13h-24m-46s',
 '2025-05-23--13h-24m-51s',
 '2025-05-23--13h-24m-56s',
 '2025-05-23--13h-25m-00s',
 '2025-05-23--13h-25m-05s',
 '2025-05-23--13h-25m-09s',
 '2025-05-23--13h-25m-13s',
 '2025-05-23--13h-25m-17s',
 '2025-05-23--13h-25m-21s',
 '2025-05-23--13h-25m-25s',
 '2025-05-23--13h-25m-29s',
 '2025-05-23--13h-25m-33s',
 '2025-05-23--13h-25m-37s',
 '2025-05-23--13h-25m-41s',
 '2025-05-23--13h-25m-45s',
 '2025-05-23--13h-25m-49s',
 '2025-05-23--13h-25m-53s',
 '2025-05-23--13h-25m-57s',
 '2025-05-23--13h-26m-01s',
 '2025-05-23--13h-26m-05s',
 '2025-05-23--13h-26m-09s',
 '2025-05-23--13h-26m-13s',
 '2025-05-23--13h-26m-17s',
 '2025-05-23--13h-26m-21s',
 '2025-05-23--13h-26m-25s',
 '2025-05-23--13h-26m-29s',
 '2025-05-23--13h-26m-33s',
 '2025-05-23--13h-26m-37s',
 '2025-05-23--13h-26m-41s',
 '2025-05-23--14h-51m-44s',
 '2025-05-23--14h-52m-04s',
 '2025-05-23--14h-52m-08s',
 '2025-05-23--14h-52m-12s',
 '2025-05-23--14h-52m-16s',
 '2025-05-23--14h-52m-20s',
 '2025-05-23--14h-52m-24s',
 '2025-05-23--14h-52m-28s',
 '2025-05-23--14h-52m-32s',
 '2025-05-23--14h-52m-36s',
 '2025-05-23--14h-52m-40s',
 '2025-05-23--14h-52m-44s',
 '2025-05-23--14h-52m-48s',
 '2025-05-23--14h-52m-52s',
 '2025-05-23--14h-52m-56s',
 '2025-05-23--14h-53m-00s',
 '2025-05-23--14h-53m-03s',
 '2025-05-23--14h-53m-07s',
 '2025-05-23--14h-53m-11s',
 '2025-05-23--14h-53m-15s',
 '2025-05-23--14h-53m-19s',
 '2025-05-23--14h-53m-23s',
 '2025-05-23--14h-53m-27s',
 '2025-05-23--14h-53m-32s',
 '2025-05-23--14h-53m-36s',
 '2025-05-23--14h-53m-40s',
 '2025-05-23--14h-53m-44s',
 '2025-05-23--14h-53m-48s',
 '2025-05-23--14h-53m-52s',
 '2025-05-23--14h-53m-56s',
 '2025-05-23--14h-54m-00s',
 '2025-05-23--14h-54m-04s',
 '2025-05-23--14h-54m-09s',
 '2025-05-23--14h-54m-13s',
 '2025-05-23--14h-54m-17s',
 '2025-05-23--14h-54m-21s',
 '2025-05-23--14h-54m-25s',
 '2025-05-23--14h-54m-29s',
 '2025-05-23--14h-54m-33s',
 '2025-05-23--14h-54m-37s',
 '2025-05-23--14h-54m-41s',
 '2025-05-23--14h-54m-45s',
 '2025-05-23--14h-54m-49s',
 '2025-05-23--14h-54m-53s',
 '2025-05-23--14h-54m-57s',
 '2025-05-23--14h-55m-01s',
 '2025-05-23--14h-55m-05s',
 '2025-05-23--14h-55m-09s',
 '2025-05-23--14h-55m-13s',
 '2025-05-23--14h-55m-17s',
 '2025-05-23--14h-55m-21s',
 '2025-05-23--14h-55m-25s',
 '2025-05-23--14h-55m-29s',
 '2025-05-23--14h-55m-33s',
 '2025-05-23--14h-55m-37s',
 '2025-05-23--14h-55m-41s',
 '2025-05-23--14h-55m-45s',
 '2025-05-23--14h-55m-49s',
 '2025-05-23--14h-55m-53s',
 '2025-05-23--14h-55m-57s',
 '2025-05-23--14h-58m-55s',
 '2025-05-23--14h-59m-11s',
 '2025-05-23--14h-59m-15s',
 '2025-05-23--14h-59m-18s',
 '2025-05-23--14h-59m-22s',
 '2025-05-23--14h-59m-26s',
 '2025-05-23--14h-59m-30s',
 '2025-05-23--14h-59m-33s',
 '2025-05-23--14h-59m-37s',
 '2025-05-23--14h-59m-41s',
 '2025-05-23--14h-59m-45s',
 '2025-05-23--14h-59m-48s',
 '2025-05-23--14h-59m-52s',
 '2025-05-23--14h-59m-56s',
 '2025-05-23--15h-00m-00s',
 '2025-05-23--15h-00m-03s',
 '2025-05-23--15h-00m-07s',
 '2025-05-23--15h-00m-11s',
 '2025-05-23--15h-00m-15s',
 '2025-05-23--15h-00m-18s',
 '2025-05-23--15h-00m-22s',
 '2025-05-23--15h-00m-26s',
 '2025-05-23--15h-00m-30s',
 '2025-05-23--15h-00m-33s',
 '2025-05-23--15h-00m-37s',
 '2025-05-23--15h-00m-41s',
 '2025-05-23--15h-00m-45s',
 '2025-05-23--15h-00m-48s',
 '2025-05-23--15h-00m-52s',
 '2025-05-23--15h-00m-56s',
 '2025-05-23--15h-01m-00s',
 '2025-05-23--15h-01m-04s',
 '2025-05-23--15h-01m-07s',
 '2025-05-23--15h-01m-11s',
 '2025-05-23--15h-01m-15s',
 '2025-05-23--15h-01m-19s',
 '2025-05-23--15h-01m-22s',
 '2025-05-23--15h-01m-26s',
 '2025-05-23--15h-01m-30s',
 '2025-05-23--15h-01m-34s',
 '2025-05-23--15h-01m-38s',
 '2025-05-23--15h-01m-41s',
 '2025-05-23--15h-01m-45s',
 '2025-05-23--15h-01m-49s',
 '2025-05-23--15h-01m-53s',
 '2025-05-23--15h-01m-56s',
 '2025-05-23--15h-02m-00s',
 '2025-05-23--15h-02m-04s',
 '2025-05-23--15h-02m-08s',
 '2025-05-23--15h-02m-11s',
 '2025-05-23--15h-02m-15s',
 '2025-05-23--15h-02m-19s',
 '2025-05-23--15h-02m-23s',
 '2025-05-23--15h-02m-26s',
 '2025-05-23--15h-02m-30s',
 '2025-05-23--15h-02m-34s',
 '2025-05-23--15h-02m-38s',
 '2025-05-23--15h-02m-41s',
 '2025-05-23--15h-02m-45s',
 '2025-05-23--15h-02m-49s',
 '2025-05-23--15h-13m-06s',
 '2025-05-23--15h-13m-15s',
 '2025-05-23--15h-13m-19s',
 '2025-05-23--15h-13m-23s',
 '2025-05-23--15h-13m-27s',
 '2025-05-23--15h-13m-30s',
 '2025-05-23--15h-13m-34s',
 '2025-05-23--15h-13m-38s',
 '2025-05-23--15h-13m-42s',
 '2025-05-23--15h-13m-46s',
 '2025-05-23--15h-13m-49s',
 '2025-05-23--15h-13m-53s',
 '2025-05-23--15h-13m-57s',
 '2025-05-23--15h-14m-01s',
 '2025-05-23--15h-14m-05s',
 '2025-05-23--15h-14m-08s',
 '2025-05-23--15h-14m-12s',
 '2025-05-23--15h-14m-16s',
 '2025-05-23--15h-14m-20s',
 '2025-05-23--15h-14m-24s',
 '2025-05-23--15h-14m-27s',
 '2025-05-23--15h-14m-31s',
 '2025-05-23--15h-14m-35s',
 '2025-05-23--15h-14m-39s',
 '2025-05-23--15h-14m-42s',
 '2025-05-23--15h-14m-46s',
 '2025-05-23--15h-14m-50s',
 '2025-05-23--15h-14m-54s',
 '2025-05-23--15h-14m-58s',
 '2025-05-23--15h-15m-01s',
 '2025-05-23--15h-15m-05s',
 '2025-05-23--15h-15m-09s',
 '2025-05-23--15h-15m-13s',
 '2025-05-23--15h-15m-16s',
 '2025-05-23--15h-15m-20s',
 '2025-05-23--15h-15m-24s',
 '2025-05-23--15h-15m-28s',
 '2025-05-23--15h-15m-32s',
 '2025-05-23--15h-15m-35s',
 '2025-05-23--15h-15m-39s',
 '2025-05-23--15h-15m-43s',
 '2025-05-23--15h-15m-47s',
 '2025-05-23--15h-15m-50s',
 '2025-05-23--15h-15m-54s',
 '2025-05-23--15h-15m-58s',
 '2025-05-23--15h-16m-02s',
 '2025-05-23--15h-16m-06s',
 '2025-05-23--15h-16m-09s',
 '2025-05-23--15h-16m-13s',
 '2025-05-23--15h-16m-17s',
 '2025-05-23--15h-16m-21s',
 '2025-05-23--15h-16m-24s',
 '2025-05-23--15h-16m-28s',
 '2025-05-23--15h-16m-32s',
 '2025-05-23--15h-16m-36s',
 '2025-05-23--15h-16m-40s',
 '2025-05-23--15h-16m-43s',
 '2025-05-23--15h-16m-47s',
 '2025-05-23--15h-16m-51s',
 '2025-05-23--15h-16m-55s',
 '2025-05-23--15h-19m-43s',
 '2025-05-23--15h-20m-03s',
 '2025-05-23--15h-20m-06s',
 '2025-05-23--15h-20m-10s',
 '2025-05-23--15h-20m-14s',
 '2025-05-23--15h-20m-18s',
 '2025-05-23--15h-20m-21s',
 '2025-05-23--15h-20m-25s',
 '2025-05-23--15h-20m-29s',
 '2025-05-23--15h-20m-33s',
 '2025-05-23--15h-20m-36s',
 '2025-05-23--15h-20m-40s',
 '2025-05-23--15h-20m-44s',
 '2025-05-23--15h-20m-48s',
 '2025-05-23--15h-20m-51s',
 '2025-05-23--15h-20m-55s',
 '2025-05-23--15h-20m-59s',
 '2025-05-23--15h-21m-03s',
 '2025-05-23--15h-21m-07s',
 '2025-05-23--15h-21m-10s',
 '2025-05-23--15h-21m-14s',
 '2025-05-23--15h-21m-18s',
 '2025-05-23--15h-21m-22s',
 '2025-05-23--15h-21m-26s',
 '2025-05-23--15h-21m-29s',
 '2025-05-23--15h-21m-33s',
 '2025-05-23--15h-21m-37s',
 '2025-05-23--15h-21m-56s',
 '2025-05-23--15h-22m-00s',
 '2025-05-23--15h-22m-04s',
 '2025-05-23--15h-22m-08s',
 '2025-05-23--15h-22m-12s',
 '2025-05-23--15h-22m-15s',
 '2025-05-23--15h-22m-19s',
 '2025-05-23--15h-22m-23s',
 '2025-05-23--15h-22m-27s',
 '2025-05-23--15h-22m-30s',
 '2025-05-23--15h-22m-34s',
 '2025-05-23--15h-22m-38s',
 '2025-05-23--15h-22m-42s',
 '2025-05-23--15h-22m-46s',
 '2025-05-23--15h-22m-49s',
 '2025-05-23--15h-22m-53s',
 '2025-05-23--15h-22m-57s',
 '2025-05-23--15h-23m-01s',
 '2025-05-23--15h-23m-05s',
 '2025-05-23--15h-23m-08s',
 '2025-05-23--15h-23m-12s',
 '2025-05-23--15h-23m-16s',
 '2025-05-23--15h-23m-20s',
 '2025-05-23--15h-23m-23s',
 '2025-05-23--15h-23m-27s',
 '2025-05-23--15h-23m-31s',
 '2025-05-23--15h-23m-35s',
 '2025-05-23--15h-23m-39s',
 '2025-05-23--15h-23m-42s',
 '2025-05-23--15h-23m-46s',
 '2025-05-23--15h-23m-50s',
 '2025-05-23--15h-23m-54s',
 '2025-05-23--15h-23m-58s']

In [71]:
def load_coincidences(data_dir):
    coincidences = pd.read_csv(os.path.join(data_folder, data_dir, "coincidences.csv"))
    coincidences["data_dir"] = data_dir
    return coincidences

coincidences_df = pd.concat([load_coincidences(d) for d in new_data_dirs], ignore_index=True)
coincidences_df

,detector_a_name,detector_b_name,arm_a,arm_b,color_a,color_b,delay_a,delay_b,estimation_label,coincidences,data_dir
0,9,12,TT,TT,white,blue,1.016000e-08,1.172000e-08,DB_H,6083,2025-05-23--12h-20m-47s
1,9,11,TT,TR,white,white,1.016000e-08,1.172000e-08,SB,2,2025-05-23--12h-20m-47s
2,9,10,TT,TR,white,blue,1.016000e-08,1.016000e-08,SB,5,2025-05-23--12h-20m-47s
3,11,12,TR,TT,white,blue,1.172000e-08,1.172000e-08,SB,6,2025-05-23--12h-20m-47s
4,10,12,TR,TT,blue,blue,1.016000e-08,1.172000e-08,SB,6,2025-05-23--12h-20m-47s
...,...,...,...,...,...,...,...,...,...,...,...
10075,2,12,RR,TT,blue,blue,3.120000e-09,1.172000e-08,C,0,2025-05-23--15h-23m-58s
10076,2,11,RR,TR,blue,white,3.120000e-09,1.172000e-08,C,0,2025-05-23--15h-23m-58s
10077,2,10,RR,TR,blue,blue,3.120000e-09,1.016000e-08,C,38,2025-05-23--15h-23m-58s
10078,2,4,RR,RT,blue,blue,3.120000e-09,3.910000e-09,SB,0,2025-05-23--15h-23m-58s
10079,2,7,RR,RR,blue,white,3.120000e-09,3.120000e-09,DB_V,1206,2025-05-23--15h-23m-58s

Double bunched events are only resolved half of the time. Therefore, we now throw away half of all non-double-bunched events to recover the expected statistics.

In [72]:
coincidences_df["scaled_coincidences"] = coincidences_df["coincidences"].astype(float)

coincidences_df.loc[coincidences_df["estimation_label"] == "SB", "scaled_coincidences"] = coincidences_df.loc[coincidences_df["estimation_label"] == "SB", "coincidences"] * 0.5
coincidences_df.loc[coincidences_df["estimation_label"] == "C", "scaled_coincidences"] = coincidences_df.loc[coincidences_df["estimation_label"] == "C", "coincidences"] * 0.5

coincidences_df

,detector_a_name,detector_b_name,arm_a,arm_b,color_a,color_b,delay_a,delay_b,estimation_label,coincidences,data_dir,scaled_coincidences
0,9,12,TT,TT,white,blue,1.016000e-08,1.172000e-08,DB_H,6083,2025-05-23--12h-20m-47s,6083.0
1,9,11,TT,TR,white,white,1.016000e-08,1.172000e-08,SB,2,2025-05-23--12h-20m-47s,1.0
2,9,10,TT,TR,white,blue,1.016000e-08,1.016000e-08,SB,5,2025-05-23--12h-20m-47s,2.5
3,11,12,TR,TT,white,blue,1.172000e-08,1.172000e-08,SB,6,2025-05-23--12h-20m-47s,3.0
4,10,12,TR,TT,blue,blue,1.016000e-08,1.172000e-08,SB,6,2025-05-23--12h-20m-47s,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10075,2,12,RR,TT,blue,blue,3.120000e-09,1.172000e-08,C,0,2025-05-23--15h-23m-58s,0.0
10076,2,11,RR,TR,blue,white,3.120000e-09,1.172000e-08,C,0,2025-05-23--15h-23m-58s,0.0
10077,2,10,RR,TR,blue,blue,3.120000e-09,1.016000e-08,C,38,2025-05-23--15h-23m-58s,19.0
10078,2,4,RR,RT,blue,blue,3.120000e-09,3.910000e-09,SB,0,2025-05-23--15h-23m-58s,0.0
10079,2,7,RR,RR,blue,white,3.120000e-09,3.120000e-09,DB_V,1206,2025-05-23--15h-23m-58s,1206.0

In [73]:
# Sum up by estimation label
df_sum = (
    coincidences_df.groupby(["data_dir", "estimation_label"])
    .agg({"scaled_coincidences": "sum"})
    .sort_values(by=["data_dir", "estimation_label"])
    .reset_index()
)
df_sum

                     data_dir estimation_label  scaled_coincidences
0     2025-05-23--12h-20m-47s                C                183.5
1     2025-05-23--12h-20m-47s             DB_H              14720.0
2     2025-05-23--12h-20m-47s             DB_V                  0.0
3     2025-05-23--12h-20m-47s               SB                 16.0
4     2025-05-23--12h-20m-57s                C                204.0
...                       ...              ...                  ...
1435  2025-05-23--15h-23m-54s               SB                 38.0
1436  2025-05-23--15h-23m-58s                C               6653.5
1437  2025-05-23--15h-23m-58s             DB_H               3919.0
1438  2025-05-23--15h-23m-58s             DB_V               3037.0
1439  2025-05-23--15h-23m-58s               SB                 37.0

[1440 rows x 3 columns]

In [74]:
df_pivoted_sum = df_sum.pivot(index='data_dir', columns='estimation_label', values='scaled_coincidences')
df_pivoted_sum = df_pivoted_sum.reset_index()  # optional, to flatten the index
df_pivoted_sum.columns.name = None  # remove the name of the columns
df_pivoted_sum

                    data_dir       C     DB_H    DB_V    SB
0    2025-05-23--12h-20m-47s   183.5  14720.0     0.0  16.0
1    2025-05-23--12h-20m-57s   204.0  14783.0     0.0  17.5
2    2025-05-23--12h-21m-01s   235.5  14838.0     0.0  10.5
3    2025-05-23--12h-21m-05s   319.0  14589.0     0.0   9.0
4    2025-05-23--12h-21m-09s   440.5  14471.0     0.0  18.5
..                       ...     ...      ...     ...   ...
355  2025-05-23--15h-23m-42s  6531.0   3864.0  3070.0  74.0
356  2025-05-23--15h-23m-46s  6623.0   3836.0  3170.0  58.5
357  2025-05-23--15h-23m-50s  6561.0   3758.0  3024.0  56.5
358  2025-05-23--15h-23m-54s  6637.5   3799.0  3008.0  38.0
359  2025-05-23--15h-23m-58s  6653.5   3919.0  3037.0  37.0

[360 rows x 5 columns]

In [75]:
df_pivoted_sum["N"] = df_pivoted_sum["SB"] + df_pivoted_sum["C"] + df_pivoted_sum["DB_H"] + df_pivoted_sum["DB_V"]
df_pivoted_sum

                    data_dir       C     DB_H    DB_V    SB        N
0    2025-05-23--12h-20m-47s   183.5  14720.0     0.0  16.0  14919.5
1    2025-05-23--12h-20m-57s   204.0  14783.0     0.0  17.5  15004.5
2    2025-05-23--12h-21m-01s   235.5  14838.0     0.0  10.5  15084.0
3    2025-05-23--12h-21m-05s   319.0  14589.0     0.0   9.0  14917.0
4    2025-05-23--12h-21m-09s   440.5  14471.0     0.0  18.5  14930.0
..                       ...     ...      ...     ...   ...      ...
355  2025-05-23--15h-23m-42s  6531.0   3864.0  3070.0  74.0  13539.0
356  2025-05-23--15h-23m-46s  6623.0   3836.0  3170.0  58.5  13687.5
357  2025-05-23--15h-23m-50s  6561.0   3758.0  3024.0  56.5  13399.5
358  2025-05-23--15h-23m-54s  6637.5   3799.0  3008.0  38.0  13482.5
359  2025-05-23--15h-23m-58s  6653.5   3919.0  3037.0  37.0  13646.5

[360 rows x 6 columns]

In [76]:
df_pivoted_sum["theta_estimate"] = np.arccos(
    (df_pivoted_sum["DB_H"] - df_pivoted_sum["DB_V"]) / df_pivoted_sum["N"]
)
df_pivoted_sum["delta_phi_estimate"] = np.arctan(
    np.sqrt(df_pivoted_sum["C"] / df_pivoted_sum["SB"])
)
df_pivoted_sum

,data_dir,C,DB_H,DB_V,SB,N,theta_estimate,delta_phi_estimate
0,2025-05-23--12h-20m-47s,183.5,14720.0,0.0,16.0,14919.5,0.163717,1.283670
1,2025-05-23--12h-20m-57s,204.0,14783.0,0.0,17.5,15004.5,0.172039,1.285876
2,2025-05-23--12h-21m-01s,235.5,14838.0,0.0,10.5,15084.0,0.180849,1.362699
3,2025-05-23--12h-21m-05s,319.0,14589.0,0.0,9.0,14917.0,0.210092,1.404382
4,2025-05-23--12h-21m-09s,440.5,14471.0,0.0,18.5,14930.0,0.248605,1.368662
...,...,...,...,...,...,...,...,...
355,2025-05-23--15h-23m-42s,6531.0,3864.0,3070.0,74.0,13539.0,1.512117,1.464750
356,2025-05-23--15h-23m-46s,6623.0,3836.0,3170.0,58.5,13687.5,1.522120,1.477088
357,2025-05-23--15h-23m-50s,6561.0,3758.0,3024.0,56.5,13399.5,1.515991,1.478263
358,2025-05-23--15h-23m-54s,6637.5,3799.0,3008.0,38.0,13482.5,1.512094,1.495276
359,2025-05-23--15h-23m-58s,6653.5,3919.0,3037.0,37.0,13646.5,1.506119,1.496362

In [77]:
df_pivoted_sum["theta_estimate_degrees"] = np.degrees(df_pivoted_sum["theta_estimate"])
df_pivoted_sum["delta_phi_estimate_degrees"] = np.degrees(df_pivoted_sum["delta_phi_estimate"])
df_pivoted_sum

,data_dir,C,DB_H,DB_V,SB,N,theta_estimate,delta_phi_estimate,theta_estimate_degrees,delta_phi_estimate_degrees
0,2025-05-23--12h-20m-47s,183.5,14720.0,0.0,16.0,14919.5,0.163717,1.283670,9.380308,73.548899
1,2025-05-23--12h-20m-57s,204.0,14783.0,0.0,17.5,15004.5,0.172039,1.285876,9.857106,73.675241
2,2025-05-23--12h-21m-01s,235.5,14838.0,0.0,10.5,15084.0,0.180849,1.362699,10.361889,78.076912
3,2025-05-23--12h-21m-05s,319.0,14589.0,0.0,9.0,14917.0,0.210092,1.404382,12.037404,80.465161
4,2025-05-23--12h-21m-09s,440.5,14471.0,0.0,18.5,14930.0,0.248605,1.368662,14.244035,78.418532
...,...,...,...,...,...,...,...,...,...,...
355,2025-05-23--15h-23m-42s,6531.0,3864.0,3070.0,74.0,13539.0,1.512117,1.464750,86.637937,83.924019
356,2025-05-23--15h-23m-46s,6623.0,3836.0,3170.0,58.5,13687.5,1.522120,1.477088,87.211027,84.630926
357,2025-05-23--15h-23m-50s,6561.0,3758.0,3024.0,56.5,13399.5,1.515991,1.478263,86.859871,84.698243
358,2025-05-23--15h-23m-54s,6637.5,3799.0,3008.0,38.0,13482.5,1.512094,1.495276,86.636603,85.673015
359,2025-05-23--15h-23m-58s,6653.5,3919.0,3037.0,37.0,13646.5,1.506119,1.496362,86.294279,85.735233

In [78]:
# For each row, save the results to a CSV file

for index, row in df_pivoted_sum.iterrows():
    data_dir = row["data_dir"]
    theta_estimate = row["theta_estimate_degrees"]
    delta_phi_estimate = row["delta_phi_estimate_degrees"]
    
    # Create a new DataFrame for the current row
    results = pd.DataFrame({
        "estimation_label": ["C", "SB", "DB_H", "DB_V"],
        "scaled_coincidences": [row["C"], row["SB"], row["DB_H"], row["DB_V"]]
    })
    
    # Save the results to a CSV file
    results.to_csv(os.path.join(data_folder, data_dir, "scaled_coincidences.csv"), index=False)
    
    # Save the theta and delta_phi estimates to a CSV file
    theta_delta_phi = pd.DataFrame({
        "theta_estimate": [theta_estimate],
        "delta_phi_estimate": [delta_phi_estimate]
    })
    theta_delta_phi.to_csv(os.path.join(data_folder, data_dir, "theta_delta_phi_estimates.csv"), index=False)