In [14]:
import pandas as pd
import numpy as np
import os

In [ ]:
eta = 1 # 0.985
target_N = 40

In [16]:
# Set to True to force a full refresh of the data
full_refresh = True

In [17]:
repo_root = os.popen('git rev-parse --show-toplevel').read().strip()

In [18]:
data_folder = os.path.join(repo_root, 'multi-parameter-estimation', 'data')

# Get list of data directories
data_dirs = os.listdir(data_folder)
data_dirs = [d for d in data_dirs if os.path.isdir(os.path.join(data_folder, d))]

# skip old-data
if 'old-data' in data_dirs:
    data_dirs.remove('old-data')

data_dirs.sort()
data_dirs

['2025-05-23--16h-54m-21s',
 '2025-05-23--16h-54m-26s',
 '2025-05-23--16h-54m-30s',
 '2025-05-23--16h-54m-34s',
 '2025-05-23--16h-54m-37s',
 '2025-05-23--16h-54m-41s',
 '2025-05-23--16h-54m-45s',
 '2025-05-23--16h-54m-49s',
 '2025-05-23--16h-54m-53s',
 '2025-05-23--16h-54m-57s',
 '2025-05-23--16h-55m-01s',
 '2025-05-23--16h-55m-05s',
 '2025-05-23--16h-55m-08s',
 '2025-05-23--16h-55m-12s',
 '2025-05-23--16h-55m-16s',
 '2025-05-23--16h-55m-20s',
 '2025-05-23--16h-55m-24s',
 '2025-05-23--16h-55m-28s',
 '2025-05-23--16h-55m-32s',
 '2025-05-23--16h-55m-36s',
 '2025-05-23--16h-55m-40s',
 '2025-05-23--16h-55m-44s',
 '2025-05-23--16h-55m-47s',
 '2025-05-23--16h-55m-51s',
 '2025-05-23--16h-55m-55s',
 '2025-05-23--16h-55m-59s',
 '2025-05-23--16h-56m-03s',
 '2025-05-23--16h-56m-07s',
 '2025-05-23--16h-56m-11s',
 '2025-05-23--16h-56m-15s',
 '2025-05-23--16h-56m-19s',
 '2025-05-23--16h-56m-23s',
 '2025-05-23--16h-56m-27s',
 '2025-05-23--16h-56m-31s',
 '2025-05-23--16h-56m-35s',
 '2025-05-23--16h-56m-39s',
 '2025-05-23--16h-56m-43s',
 '2025-05-23--16h-56m-47s',
 '2025-05-23--16h-56m-51s',
 '2025-05-23--16h-56m-55s',
 '2025-05-23--16h-56m-59s',
 '2025-05-23--16h-57m-03s',
 '2025-05-23--16h-57m-07s',
 '2025-05-23--16h-57m-10s',
 '2025-05-23--16h-57m-14s',
 '2025-05-23--16h-57m-18s',
 '2025-05-23--16h-57m-22s',
 '2025-05-23--16h-57m-26s',
 '2025-05-23--16h-57m-30s',
 '2025-05-23--16h-57m-34s',
 '2025-05-23--16h-57m-38s',
 '2025-05-23--16h-57m-42s',
 '2025-05-23--16h-57m-45s',
 '2025-05-23--16h-57m-49s',
 '2025-05-23--16h-57m-53s',
 '2025-05-23--16h-57m-57s',
 '2025-05-23--16h-58m-01s',
 '2025-05-23--16h-58m-05s',
 '2025-05-23--16h-58m-09s',
 '2025-05-23--16h-58m-13s',
 '2025-05-23--17h-24m-53s',
 '2025-05-23--17h-27m-00s',
 '2025-05-23--17h-28m-51s',
 '2025-05-23--17h-30m-41s',
 '2025-05-23--17h-32m-32s',
 '2025-05-23--17h-34m-23s',
 '2025-05-23--17h-36m-14s',
 '2025-05-23--17h-38m-05s',
 '2025-05-23--17h-39m-56s',
 '2025-05-23--17h-41m-47s',
 '2025-05-23--17h-43m-38s',
 '2025-05-23--17h-45m-29s',
 '2025-05-23--17h-47m-20s',
 '2025-05-23--17h-49m-11s',
 '2025-05-23--17h-51m-02s',
 '2025-05-23--17h-52m-53s',
 '2025-05-23--17h-54m-44s',
 '2025-05-23--17h-56m-35s',
 '2025-05-23--17h-58m-27s',
 '2025-05-23--18h-00m-17s',
 '2025-05-23--18h-02m-09s',
 '2025-05-23--18h-04m-00s',
 '2025-05-23--18h-05m-51s',
 '2025-05-23--18h-07m-42s',
 '2025-05-23--18h-09m-34s',
 '2025-05-23--18h-11m-25s',
 '2025-05-23--18h-13m-17s',
 '2025-05-23--18h-15m-08s',
 '2025-05-23--18h-16m-59s',
 '2025-05-23--18h-18m-47s',
 '2025-05-23--18h-20m-26s',
 '2025-05-23--18h-22m-05s',
 '2025-05-23--18h-23m-43s',
 '2025-05-23--18h-25m-22s',
 '2025-05-23--18h-27m-01s',
 '2025-05-23--18h-28m-41s',
 '2025-05-23--18h-30m-20s',
 '2025-05-23--18h-31m-59s',
 '2025-05-23--18h-33m-37s',
 '2025-05-23--18h-35m-16s',
 '2025-05-23--18h-36m-55s',
 '2025-05-23--18h-38m-34s',
 '2025-05-23--18h-40m-12s',
 '2025-05-23--18h-41m-51s',
 '2025-05-23--18h-43m-30s',
 '2025-05-23--18h-45m-09s',
 '2025-05-23--18h-46m-47s',
 '2025-05-23--18h-48m-26s',
 '2025-05-23--18h-50m-05s',
 '2025-05-23--18h-51m-43s',
 '2025-05-23--18h-53m-21s',
 '2025-05-23--18h-55m-00s',
 '2025-05-23--18h-56m-38s',
 '2025-05-23--18h-58m-17s',
 '2025-05-23--18h-59m-55s',
 '2025-05-23--19h-01m-34s',
 '2025-05-23--19h-03m-12s',
 '2025-05-23--19h-04m-50s',
 '2025-05-23--19h-06m-29s',
 '2025-05-23--19h-08m-07s']

In [19]:
new_data_dirs = data_dirs.copy()
# Remove directories that already have theta_delta_phi_estimates.csv
if not full_refresh:
    for d in data_dirs:
        if os.path.exists(os.path.join(data_folder, d, "theta_delta_phi_estimates.csv")):
            new_data_dirs.remove(d)

new_data_dirs

['2025-05-23--16h-54m-21s',
 '2025-05-23--16h-54m-26s',
 '2025-05-23--16h-54m-30s',
 '2025-05-23--16h-54m-34s',
 '2025-05-23--16h-54m-37s',
 '2025-05-23--16h-54m-41s',
 '2025-05-23--16h-54m-45s',
 '2025-05-23--16h-54m-49s',
 '2025-05-23--16h-54m-53s',
 '2025-05-23--16h-54m-57s',
 '2025-05-23--16h-55m-01s',
 '2025-05-23--16h-55m-05s',
 '2025-05-23--16h-55m-08s',
 '2025-05-23--16h-55m-12s',
 '2025-05-23--16h-55m-16s',
 '2025-05-23--16h-55m-20s',
 '2025-05-23--16h-55m-24s',
 '2025-05-23--16h-55m-28s',
 '2025-05-23--16h-55m-32s',
 '2025-05-23--16h-55m-36s',
 '2025-05-23--16h-55m-40s',
 '2025-05-23--16h-55m-44s',
 '2025-05-23--16h-55m-47s',
 '2025-05-23--16h-55m-51s',
 '2025-05-23--16h-55m-55s',
 '2025-05-23--16h-55m-59s',
 '2025-05-23--16h-56m-03s',
 '2025-05-23--16h-56m-07s',
 '2025-05-23--16h-56m-11s',
 '2025-05-23--16h-56m-15s',
 '2025-05-23--16h-56m-19s',
 '2025-05-23--16h-56m-23s',
 '2025-05-23--16h-56m-27s',
 '2025-05-23--16h-56m-31s',
 '2025-05-23--16h-56m-35s',
 '2025-05-23--16h-56m-39s',
 '2025-05-23--16h-56m-43s',
 '2025-05-23--16h-56m-47s',
 '2025-05-23--16h-56m-51s',
 '2025-05-23--16h-56m-55s',
 '2025-05-23--16h-56m-59s',
 '2025-05-23--16h-57m-03s',
 '2025-05-23--16h-57m-07s',
 '2025-05-23--16h-57m-10s',
 '2025-05-23--16h-57m-14s',
 '2025-05-23--16h-57m-18s',
 '2025-05-23--16h-57m-22s',
 '2025-05-23--16h-57m-26s',
 '2025-05-23--16h-57m-30s',
 '2025-05-23--16h-57m-34s',
 '2025-05-23--16h-57m-38s',
 '2025-05-23--16h-57m-42s',
 '2025-05-23--16h-57m-45s',
 '2025-05-23--16h-57m-49s',
 '2025-05-23--16h-57m-53s',
 '2025-05-23--16h-57m-57s',
 '2025-05-23--16h-58m-01s',
 '2025-05-23--16h-58m-05s',
 '2025-05-23--16h-58m-09s',
 '2025-05-23--16h-58m-13s',
 '2025-05-23--17h-24m-53s',
 '2025-05-23--17h-27m-00s',
 '2025-05-23--17h-28m-51s',
 '2025-05-23--17h-30m-41s',
 '2025-05-23--17h-32m-32s',
 '2025-05-23--17h-34m-23s',
 '2025-05-23--17h-36m-14s',
 '2025-05-23--17h-38m-05s',
 '2025-05-23--17h-39m-56s',
 '2025-05-23--17h-41m-47s',
 '2025-05-23--17h-43m-38s',
 '2025-05-23--17h-45m-29s',
 '2025-05-23--17h-47m-20s',
 '2025-05-23--17h-49m-11s',
 '2025-05-23--17h-51m-02s',
 '2025-05-23--17h-52m-53s',
 '2025-05-23--17h-54m-44s',
 '2025-05-23--17h-56m-35s',
 '2025-05-23--17h-58m-27s',
 '2025-05-23--18h-00m-17s',
 '2025-05-23--18h-02m-09s',
 '2025-05-23--18h-04m-00s',
 '2025-05-23--18h-05m-51s',
 '2025-05-23--18h-07m-42s',
 '2025-05-23--18h-09m-34s',
 '2025-05-23--18h-11m-25s',
 '2025-05-23--18h-13m-17s',
 '2025-05-23--18h-15m-08s',
 '2025-05-23--18h-16m-59s',
 '2025-05-23--18h-18m-47s',
 '2025-05-23--18h-20m-26s',
 '2025-05-23--18h-22m-05s',
 '2025-05-23--18h-23m-43s',
 '2025-05-23--18h-25m-22s',
 '2025-05-23--18h-27m-01s',
 '2025-05-23--18h-28m-41s',
 '2025-05-23--18h-30m-20s',
 '2025-05-23--18h-31m-59s',
 '2025-05-23--18h-33m-37s',
 '2025-05-23--18h-35m-16s',
 '2025-05-23--18h-36m-55s',
 '2025-05-23--18h-38m-34s',
 '2025-05-23--18h-40m-12s',
 '2025-05-23--18h-41m-51s',
 '2025-05-23--18h-43m-30s',
 '2025-05-23--18h-45m-09s',
 '2025-05-23--18h-46m-47s',
 '2025-05-23--18h-48m-26s',
 '2025-05-23--18h-50m-05s',
 '2025-05-23--18h-51m-43s',
 '2025-05-23--18h-53m-21s',
 '2025-05-23--18h-55m-00s',
 '2025-05-23--18h-56m-38s',
 '2025-05-23--18h-58m-17s',
 '2025-05-23--18h-59m-55s',
 '2025-05-23--19h-01m-34s',
 '2025-05-23--19h-03m-12s',
 '2025-05-23--19h-04m-50s',
 '2025-05-23--19h-06m-29s',
 '2025-05-23--19h-08m-07s']

In [20]:
def load_coincidences(data_dir):
    coincidences = pd.read_csv(os.path.join(data_folder, data_dir, "coincidences.csv"))
    coincidences["data_dir"] = data_dir
    return coincidences

coincidences_df = pd.concat([load_coincidences(d) for d in new_data_dirs], ignore_index=True)
coincidences_df

,detector_a_name,detector_b_name,estimation_label,repetition,coincidences,timestamp,data_dir
0,9,12,DB_H,2,0,2025-05-23--16h-54m-24s-375004,2025-05-23--16h-54m-21s
1,9,11,SB,2,0,2025-05-23--16h-54m-24s-375004,2025-05-23--16h-54m-21s
2,9,10,SB,2,0,2025-05-23--16h-54m-24s-375004,2025-05-23--16h-54m-21s
3,11,12,SB,2,0,2025-05-23--16h-54m-24s-375004,2025-05-23--16h-54m-21s
4,10,12,SB,2,0,2025-05-23--16h-54m-24s-375004,2025-05-23--16h-54m-21s
...,...,...,...,...,...,...,...
7032279,2,12,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s
7032280,2,11,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s
7032281,2,10,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s
7032282,2,4,SB,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s
7032283,2,7,DB_V,4997,1,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s

Double bunched events are only resolved half of the time. Therefore, we now throw away half of all non-double-bunched events to recover the expected statistics.

In [21]:
coincidences_df["scaled_coincidences"] = coincidences_df["coincidences"].astype(float)

coincidences_df.loc[coincidences_df["estimation_label"] == "SB", "scaled_coincidences"] = coincidences_df.loc[coincidences_df["estimation_label"] == "SB", "coincidences"] * 0.5
coincidences_df.loc[coincidences_df["estimation_label"] == "C", "scaled_coincidences"] = coincidences_df.loc[coincidences_df["estimation_label"] == "C", "coincidences"] * 0.5

coincidences_df

,detector_a_name,detector_b_name,estimation_label,repetition,coincidences,timestamp,data_dir,scaled_coincidences
0,9,12,DB_H,2,0,2025-05-23--16h-54m-24s-375004,2025-05-23--16h-54m-21s,0.0
1,9,11,SB,2,0,2025-05-23--16h-54m-24s-375004,2025-05-23--16h-54m-21s,0.0
2,9,10,SB,2,0,2025-05-23--16h-54m-24s-375004,2025-05-23--16h-54m-21s,0.0
3,11,12,SB,2,0,2025-05-23--16h-54m-24s-375004,2025-05-23--16h-54m-21s,0.0
4,10,12,SB,2,0,2025-05-23--16h-54m-24s-375004,2025-05-23--16h-54m-21s,0.0
...,...,...,...,...,...,...,...,...
7032279,2,12,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s,0.0
7032280,2,11,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s,0.0
7032281,2,10,C,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s,0.0
7032282,2,4,SB,4997,0,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s,0.0
7032283,2,7,DB_V,4997,1,2025-05-23--19h-09m-45s-366567,2025-05-23--19h-08m-07s,1.0

In [22]:
# Sum up by estimation label
df_sum = (
    coincidences_df.groupby(["data_dir", "estimation_label", "repetition"])
    .agg({"scaled_coincidences": "sum"})
    .sort_values(by=["data_dir", "repetition", "estimation_label"])
    .reset_index()
)
df_sum

,data_dir,estimation_label,repetition,scaled_coincidences
0,2025-05-23--16h-54m-21s,C,2,0.0
1,2025-05-23--16h-54m-21s,DB_H,2,1.0
2,2025-05-23--16h-54m-21s,DB_V,2,0.0
3,2025-05-23--16h-54m-21s,SB,2,0.0
4,2025-05-23--16h-54m-21s,C,3,0.0
...,...,...,...,...
1004607,2025-05-23--19h-08m-07s,SB,4995,0.0
1004608,2025-05-23--19h-08m-07s,C,4997,0.0
1004609,2025-05-23--19h-08m-07s,DB_H,4997,0.0
1004610,2025-05-23--19h-08m-07s,DB_V,4997,1.0
1004611,2025-05-23--19h-08m-07s,SB,4997,0.0

In [23]:
df_pivoted_sum = df_sum.pivot(index=['data_dir', 'repetition'], columns='estimation_label', values='scaled_coincidences')
df_pivoted_sum = df_pivoted_sum.reset_index()  # optional, to flatten the index
df_pivoted_sum.columns.name = None  # remove the name of the columns
df_pivoted_sum

                       data_dir  repetition    C  DB_H  DB_V   SB
0       2025-05-23--16h-54m-21s           2  0.0   1.0   0.0  0.0
1       2025-05-23--16h-54m-21s           3  0.0   1.0   0.0  0.0
2       2025-05-23--16h-54m-21s           5  0.0   3.0   0.0  0.0
3       2025-05-23--16h-54m-21s           6  0.0   3.0   0.0  0.0
4       2025-05-23--16h-54m-21s           9  0.5   0.0   0.0  0.0
...                         ...         ...  ...   ...   ...  ...
251148  2025-05-23--19h-08m-07s        4992  0.0   0.0   1.0  0.0
251149  2025-05-23--19h-08m-07s        4993  0.0   0.0   1.0  0.0
251150  2025-05-23--19h-08m-07s        4994  0.0   0.0   1.0  0.0
251151  2025-05-23--19h-08m-07s        4995  0.0   0.0   2.0  0.0
251152  2025-05-23--19h-08m-07s        4997  0.0   0.0   1.0  0.0

[251153 rows x 6 columns]

In [24]:
df_pivoted_sum["N"] = df_pivoted_sum["SB"] + df_pivoted_sum["C"] + df_pivoted_sum["DB_H"] + df_pivoted_sum["DB_V"]
df_pivoted_sum.head(10)

                  data_dir  repetition    C  DB_H  DB_V   SB    N
0  2025-05-23--16h-54m-21s           2  0.0   1.0   0.0  0.0  1.0
1  2025-05-23--16h-54m-21s           3  0.0   1.0   0.0  0.0  1.0
2  2025-05-23--16h-54m-21s           5  0.0   3.0   0.0  0.0  3.0
3  2025-05-23--16h-54m-21s           6  0.0   3.0   0.0  0.0  3.0
4  2025-05-23--16h-54m-21s           9  0.5   0.0   0.0  0.0  0.5
5  2025-05-23--16h-54m-21s          10  0.0   4.0   0.0  0.0  4.0
6  2025-05-23--16h-54m-21s          13  0.0   1.0   0.0  0.0  1.0
7  2025-05-23--16h-54m-21s          15  0.0   1.0   0.0  0.0  1.0
8  2025-05-23--16h-54m-21s          16  0.0   1.0   0.0  0.0  1.0
9  2025-05-23--16h-54m-21s          17  0.0   1.0   0.0  0.0  1.0

# Chunking

Now we group the rows so that they sum to the number of N that we want

In [25]:
chunks = []

# Group the DataFrame by 'data_dir'
for data_dir, group_df in df_pivoted_sum.groupby('data_dir'):
    group_df = group_df.reset_index(drop=True)
    used = [False] * len(group_df)  # Track which rows have been used

    while True:
        current_chunk = []
        current_sum = 0
        made_progress = False

        for i, row in group_df.iterrows():
            if used[i]:
                continue

            n_val = row['N']
            if current_sum + n_val > target_N:
                continue  # Skip row but do not reset the chunk

            current_chunk.append(row)
            current_sum += n_val
            used[i] = True
            made_progress = True

            if current_sum == target_N:
                chunk_df = pd.DataFrame(current_chunk)
                chunks.append(chunk_df)
                break  # Exit inner loop to start a new chunk

        if current_sum != target_N:
            # If we finished scanning but didn't complete a chunk, undo the "used" marking
            for row in current_chunk:
                idx = group_df.index[(group_df == row).all(axis=1)][0]
                used[idx] = False

        if not made_progress or current_sum != target_N:
            break  # No more valid chunks can be made

# Summarize chunks
chunk_summaries = []

for chunk in chunks:
    summary = chunk.sum(numeric_only=True)
    summary['data_dir'] = chunk['data_dir'].iloc[0]
    chunk_summaries.append(summary)

# Combine all summaries into a DataFrame
result_df = pd.DataFrame(chunk_summaries)

# Drop the 'repetition' column if it exists
if 'repetition' in result_df.columns:
    result_df = result_df.drop(columns=['repetition'])

# Reorder columns
result_df = result_df[['data_dir'] + [col for col in result_df.columns if col != 'data_dir']]

result_df

                      data_dir    C  DB_H  DB_V   SB     N
0      2025-05-23--16h-54m-21s  2.0  38.0   0.0  0.0  40.0
1      2025-05-23--16h-54m-21s  0.0  40.0   0.0  0.0  40.0
2      2025-05-23--16h-54m-30s  0.0  40.0   0.0  0.0  40.0
3      2025-05-23--16h-54m-30s  0.0  40.0   0.0  0.0  40.0
4      2025-05-23--16h-54m-30s  0.5  39.0   0.0  0.5  40.0
...                        ...  ...   ...   ...  ...   ...
10313  2025-05-23--19h-08m-07s  0.0   0.0  40.0  0.0  40.0
10314  2025-05-23--19h-08m-07s  2.0   0.0  38.0  0.0  40.0
10315  2025-05-23--19h-08m-07s  1.0   0.0  39.0  0.0  40.0
10316  2025-05-23--19h-08m-07s  1.0   0.0  39.0  0.0  40.0
10317  2025-05-23--19h-08m-07s  1.0   0.0  39.0  0.0  40.0

[10318 rows x 6 columns]

In [26]:
# Ensure the 1/eta factor doesn't exceed 1
# result_df["theta_estimate"] = np.arccos(
#     (1 / eta) * (result_df["DB_H"] - result_df["DB_V"]) / result_df["N"]
# )
result_df["theta_estimate"] = np.arccos(
    np.clip((1 / eta) * (result_df["DB_H"] - result_df["DB_V"]) / result_df["N"], -1, 1)
)

result_df

                      data_dir    C  DB_H  DB_V   SB     N  theta_estimate
0      2025-05-23--16h-54m-21s  2.0  38.0   0.0  0.0  40.0        0.267378
1      2025-05-23--16h-54m-21s  0.0  40.0   0.0  0.0  40.0        0.000000
2      2025-05-23--16h-54m-30s  0.0  40.0   0.0  0.0  40.0        0.000000
3      2025-05-23--16h-54m-30s  0.0  40.0   0.0  0.0  40.0        0.000000
4      2025-05-23--16h-54m-30s  0.5  39.0   0.0  0.5  40.0        0.142615
...                        ...  ...   ...   ...  ...   ...             ...
10313  2025-05-23--19h-08m-07s  0.0   0.0  40.0  0.0  40.0        3.141593
10314  2025-05-23--19h-08m-07s  2.0   0.0  38.0  0.0  40.0        2.874215
10315  2025-05-23--19h-08m-07s  1.0   0.0  39.0  0.0  40.0        2.998978
10316  2025-05-23--19h-08m-07s  1.0   0.0  39.0  0.0  40.0        2.998978
10317  2025-05-23--19h-08m-07s  1.0   0.0  39.0  0.0  40.0        2.998978

[10318 rows x 7 columns]

In [27]:
result_df["delta_phi_estimate"] = np.arctan(
    np.sqrt(
        (eta / (2 - eta)) * result_df["C"] / result_df["SB"]
    )
)

result_df

,data_dir,C,DB_H,DB_V,SB,N,theta_estimate,delta_phi_estimate
0,2025-05-23--16h-54m-21s,2.0,38.0,0.0,0.0,40.0,0.267378,1.570796
1,2025-05-23--16h-54m-21s,0.0,40.0,0.0,0.0,40.0,0.000000,NaN
2,2025-05-23--16h-54m-30s,0.0,40.0,0.0,0.0,40.0,0.000000,NaN
3,2025-05-23--16h-54m-30s,0.0,40.0,0.0,0.0,40.0,0.000000,NaN
4,2025-05-23--16h-54m-30s,0.5,39.0,0.0,0.5,40.0,0.142615,0.777898
...,...,...,...,...,...,...,...,...
10313,2025-05-23--19h-08m-07s,0.0,0.0,40.0,0.0,40.0,3.141593,NaN
10314,2025-05-23--19h-08m-07s,2.0,0.0,38.0,0.0,40.0,2.874215,1.570796
10315,2025-05-23--19h-08m-07s,1.0,0.0,39.0,0.0,40.0,2.998978,1.570796
10316,2025-05-23--19h-08m-07s,1.0,0.0,39.0,0.0,40.0,2.998978,1.570796
10317,2025-05-23--19h-08m-07s,1.0,0.0,39.0,0.0,40.0,2.998978,1.570796

In [28]:
result_df["theta_estimate_degrees"] = np.degrees(result_df["theta_estimate"])
result_df["delta_phi_estimate_degrees"] = np.degrees(result_df["delta_phi_estimate"])
result_df

,data_dir,C,DB_H,DB_V,SB,N,theta_estimate,delta_phi_estimate,theta_estimate_degrees,delta_phi_estimate_degrees
0,2025-05-23--16h-54m-21s,2.0,38.0,0.0,0.0,40.0,0.267378,1.570796,15.319620,90.000000
1,2025-05-23--16h-54m-21s,0.0,40.0,0.0,0.0,40.0,0.000000,NaN,0.000000,NaN
2,2025-05-23--16h-54m-30s,0.0,40.0,0.0,0.0,40.0,0.000000,NaN,0.000000,NaN
3,2025-05-23--16h-54m-30s,0.0,40.0,0.0,0.0,40.0,0.000000,NaN,0.000000,NaN
4,2025-05-23--16h-54m-30s,0.5,39.0,0.0,0.5,40.0,0.142615,0.777898,8.171234,44.570266
...,...,...,...,...,...,...,...,...,...,...
10313,2025-05-23--19h-08m-07s,0.0,0.0,40.0,0.0,40.0,3.141593,NaN,180.000000,NaN
10314,2025-05-23--19h-08m-07s,2.0,0.0,38.0,0.0,40.0,2.874215,1.570796,164.680380,90.000000
10315,2025-05-23--19h-08m-07s,1.0,0.0,39.0,0.0,40.0,2.998978,1.570796,171.828766,90.000000
10316,2025-05-23--19h-08m-07s,1.0,0.0,39.0,0.0,40.0,2.998978,1.570796,171.828766,90.000000
10317,2025-05-23--19h-08m-07s,1.0,0.0,39.0,0.0,40.0,2.998978,1.570796,171.828766,90.000000

In [29]:
result_df.to_csv(os.path.join(data_folder, "results.csv"), index=False)

In [30]:
# For each row, save the results to a CSV file

for index, row in result_df.iterrows():
    data_dir = row["data_dir"]
    theta_estimate = row["theta_estimate_degrees"]
    delta_phi_estimate = row["delta_phi_estimate_degrees"]
    
    # Create a new DataFrame for the current row
    results = pd.DataFrame({
        "estimation_label": ["C", "SB", "DB_H", "DB_V"],
        "scaled_coincidences": [row["C"], row["SB"], row["DB_H"], row["DB_V"]]
    })
    
    # Save the results to a CSV file
    results.to_csv(os.path.join(data_folder, data_dir, "scaled_coincidences.csv"), index=False)
    
    # Save the theta and delta_phi estimates to a CSV file
    theta_delta_phi = pd.DataFrame({
        "theta_estimate": [theta_estimate],
        "delta_phi_estimate": [delta_phi_estimate]
    })
    theta_delta_phi.to_csv(os.path.join(data_folder, data_dir, "theta_delta_phi_estimates.csv"), index=False)

In [31]:
for data_dir, group in result_df.groupby("data_dir"):
    # Build the full output path
    output_path = os.path.join(data_folder, data_dir)
    os.makedirs(output_path, exist_ok=True)

    # Create the scaled_coincidences DataFrame by melting the required columns
    coincidences = group[["C", "SB", "DB_H", "DB_V"]]
    coincidences = coincidences.rename(columns={
        "C": "C",
        "SB": "SB",
        "DB_H": "DB_H",
        "DB_V": "DB_V"
    })
    melted = coincidences.melt(var_name="estimation_label", value_name="scaled_coincidences")
    
    # Repeat indices of group rows to match melted rows
    melted["data_row_index"] = group.index.repeat(4).values

    # Save scaled_coincidences
    melted.to_csv(os.path.join(output_path, "scaled_coincidences.csv"), index=False)

    # Save theta and delta_phi estimates for the group
    theta_delta_phi = group #[["theta_estimate_degrees", "delta_phi_estimate_degrees"]].rename(columns={
    #     "theta_estimate_degrees": "theta_estimate",
    #     "delta_phi_estimate_degrees": "delta_phi_estimate"
    # })
    theta_delta_phi.to_csv(os.path.join(output_path, "theta_delta_phi_estimates_n=40.csv"), index=False)